{template 'common/header'}


<ul class="nav nav-tabs">
    <li {if $_GPC['do']=='star_hr' && $action == 'detail'}class="active"{/if} ><a href="{php echo web_url('star_hr/detail')}">热词管理</a></li>
    <li {if $_GPC['do']=='system' && $action == 'report'}class="active"{/if} ><a href="{php echo web_url('system/report')}">举报管理</a></li>
    <li {if $_GPC['do']=='star_hr' && $action == 'detail'}class="active"{/if} ><a href="{php echo web_url('star_hr/detail')}">首页banner设置</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            添加名企
        </h3>
    </div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">网站名称</label>
                <div class="col-sm-10">
                    <input type="text"  name="companyname" style="width:50%"  class="form-control" value="{$list['companyname']}" placeholder="请输入公司名称"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span style="color: red">*  </span>邮箱</label>
                <div class="col-sm-10">
                    <input type="text"  name="email" style="width:50%"  class="form-control" value="{$list['email']}" placeholder="请输入邮箱"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span style="color: red">*  </span>所属行业</label>
                <div class="col-sm-5">
                    <select class="form-control" name="industry">
                    <option value="IT互联网" {if $list['industry']=="IT互联网"}selected="selected"{/if}>IT互联网</option>
                    <option value="物流运输" {if $list['industry']=="物流运输"}selected="selected"{/if}>物流运输</option>
                    <option value="制造加工" {if $list['industry']=="制造加工"}selected="selected"{/if}>制造加工</option>
                    <option value="房地产" {if $list['industry']=="房地产"}selected="selected"{/if}>房地产</option>
                    <option value="教育培训" {if $list['industry']=="教育培训"}selected="selected"{/if}>教育培训</option>
                    <option value="医疗医药" {if $list['industry']=="医疗医药"}selected="selected"{/if}>医疗医药</option>
                    <option value="能源化工" {if $list['industry']=="能源化工"}selected="selected"{/if}>能源化工</option>
                    <option value="餐饮百货" {if $list['industry']=="餐饮百货"}selected="selected"{/if}>餐饮百货</option>
                    <option value="通信" {if $list['industry']=="通信"}selected="selected"{/if}>通信</option>
                    <option value="广告媒体" {if $list['industry']=="广告媒体"}selected="selected"{/if}>广告媒体</option>
                    <option value="旅游" {if $list['industry']=="旅游"}selected="selected"{/if}>旅游</option>
                    <option value="农林牧渔" {if $list['industry']=="农林牧渔"}selected="selected"{/if}>农林牧渔</option>
                    <option value="人力资源" {if $list['industry']=="人力资源"}selected="selected"{/if}>人力资源</option>
                    <option value="金融投资证券" {if $list['industry']=="金融投资证券"}selected="selected"{/if}>金融投资证券</option>
                    <option value="其他" {if $list['industry']=="其他"}selected="selected"{/if}>其他</option>
                    </select>
                    <!--<input type="text"  name="industry"  class="form-control" value="{$list['industry']}" placeholder="请输入tag"/>-->
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span style="color: red">*  </span>企业规模</label>
                <div class="col-sm-5">
                    <select class="form-control" name="number">
                        <option value="20人以下" {if $list['number']=="20人以下"}selected="selected"{/if}>20人以下</option>
                        <option value="20-50人" {if $list['number']=="20-50人"}selected="selected"{/if}>20-50人</option>
                        <option value="50-200人" {if $list['number']=="50-200人"}selected="selected"{/if}>50-200人</option>
                        <option value="200-500人" {if $list['number']=="200-500人"}selected="selected"{/if}>200-500人</option>
                        <option value="500-1000人" {if $list['number']=="500-1000人"}selected="selected"{/if}>500-1000人</option>
                        <option value="1000人以上" {if $list['number']=="1000人以上"}selected="selected"{/if}>1000人以上</option>
                    </select>
                </div>
            </div>


            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"><span style="color: red">*  </span>企业logo</label>
                <div class="col-sm-5">
                    {php echo tpl_form_field_image('headimgurl', $list['headimgurl']);}
                    <span class="help-block">点击后显示的企业logo，推荐与参数设置中的logo一致。</span>
                </div>

            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"><span style="color: red">*  </span>企业banner</label>
                <div class="col-sm-5">
                    {php echo tpl_form_field_multi_image('banner', explode(",",$list['banner']));}
                    <span class="help-block">点击后显示的企业banner，推荐与参数设置中的banner一致。</span>
                </div>

            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">企业图集</label>
                <div class="col-sm-7 col-xs-12">
                    {php echo tpl_form_field_multi_image('photolist', explode(",",$list['photolist']));}
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">公司简介:</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('introduce',$list['introduce'])}
                    <span class="help-block">用简短对企业情况进行介绍，最多300字</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">公司简介配图</label>
                <div class="col-sm-5">
                    {php echo tpl_form_field_image('introduce_pic', $list['introduce_pic']);}
                </div>

            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">校招流程:</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('school_process',$list['school_process'])}
                    <span class="help-block">用简短对企业情况进行介绍，最多300字</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">培训计划:</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('training_plan',$list['training_plan'])}
                    <span class="help-block">用简短对企业情况进行介绍，最多300字</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">核心理念</label>
                <div class="col-sm-10">
                    <textarea name="core_idea" rows="4"  cols="60"  id="core_idea" class="form-control">{php echo  $list['core_idea'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">企业愿景</label>
                <div class="col-sm-10">
                    <textarea name="vision" rows="4"  cols="60"  id="vision" class="form-control">{php echo  $list['vision'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">用人理念</label>
                <div class="col-sm-10">
                    <textarea name="human_concept" rows="4"  cols="60"  id="human_concept" class="form-control">{php echo  $list['human_concept'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">企业使命</label>
                <div class="col-sm-10">
                    <textarea name="mission" rows="4"  cols="60"  id="mission" class="form-control">{php echo  $list['mission'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">经营理念</label>
                <div class="col-sm-10">
                    <textarea name="management_idea" rows="4"  cols="60"  id="management_idea" class="form-control">{php echo  $list['management_idea'] }</textarea>
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">文化理念</label>
                <div class="col-sm-10">
                    <textarea name="cultural_idea" rows="4"  cols="60"  id="cultural_idea" class="form-control">{php echo  $list['cultural_idea'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">发展战略:</label>
                <div class="col-sm-10">
                    <textarea name="development_strategy" rows="4"  cols="20"  id="development_strategy" class="form-control">{php echo  $list['development_strategy'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">发展战略配图</label>
                <div class="col-sm-5">
                    {php echo tpl_form_field_image('strategy_pic', $list['strategy_pic']);}
                </div>

            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">未来十年:</label>
                <div class="col-sm-10">
                    <textarea name="ten_year" rows="4"  cols="20"  id="ten_year" class="form-control">{php echo  $list['ten_year'] }</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">未来十年配图</label>
                <div class="col-sm-5">
                    {php echo tpl_form_field_image('ten_year_pic', $list['ten_year_pic']);}
                </div>

            </div>
            <div class="form-group col-sm-6 ">
                <input name="token" type="hidden" value="edit" />
                <input name="uid" type="hidden" value="{$_GPC['uid']}" />
                <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" style="float: right;" />
            </div>

        </form>
    </div>
</div>

<script>
    $(function(){
        $('#form1').submit(function(){
            if(!$.trim($(':text[name="companyname"]').val())) {
                util.message('请填写公司名称', '', 'error');
                return false;
            }

//            if(!$.trim($('#cateid').val())) {
//                util.message('请选择新闻分类', '', 'error');
//                return false;
//            }
//            if(!$.trim($('textarea[name="content"]').val())) {
//                util.message('请填写新闻内容', '', 'error');
//                return false;
//            }
            return true;
        });
    });
</script>

{template 'common/footer'}