<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/job_apply.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/person_msg.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/user_center.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/company_center.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/jquery-ui.css" rel="stylesheet">
    <title>个人中心</title>
</head>
<body bgcolor="#f4f4f4">
{if $_SESSION['uid']}
{php include wl_template('common/top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="width1200 p1content">
    {php include wl_template('common/company_nav');}
    <div class="p1_left">
        <div class="con_list">
            <div class="content_u">
                <div class="touxiangimg companylogoc">
                    <img src="{if $company['headimgurl']}{php echo $company['headimgurl']}{else}{WL_URL_ARES}images/qiyelogo.png{/if}" class="touxipi"/>
                </div>
                <div class="xinximsg">
                    <label class="wenhou">{$current_time}，{php echo $company['companyname']}。</label>

                    <div class="qiyehang">
                        基本资料：<label class="rezheng">已认证
                        <svg class="icon renzhengico" aria-hidden="true">
                            <use xlink:href="#icon-kongxingou"></use>
                        </svg></label>
                    </div>
                    <div class="qiyehang">
                        明星企业：<label class="weirezheng">未认证
                       </label><label class="ljbz">了解明星企业</label>
                    </div>
                </div>
            </div>
            <div class="content_p">
                <div class="p_title">
                    <div class="zitile">快捷操作</div>
                    <div class="xianx"></div>
                </div>
                <div class="dateselect1">
                    <a class="czbtnitem" href="{php echo app_url('company/index/job_manage_release')}">
                        <svg class="icon czico" aria-hidden="true">
                            <use xlink:href="#icon-tianjia"></use>
                        </svg>
                        <p class="brnzi">发布新职位</p>
                    </a>
                    <a class="czbtnitem" href="{php echo app_url('company/index/job_manage')}">
                        <svg class="icon czico" aria-hidden="true">
                            <use xlink:href="#icon-hangye"></use>
                        </svg>
                        <p class="brnzi">管理在招职位</p>
                    </a>
                    <a class="czbtnitem" href="{php echo app_url('company/company_profile')}">
                        <svg class="icon czico" aria-hidden="true">
                            <use xlink:href="#icon-xiugai"></use>
                        </svg>
                        <p class="brnzi">修改公司资料</p>
                    </a>
                </div>


            </div>

            <div class="content_p">
                <div class="p_title">
                    <div class="zitile">我的消息</div>
                    <div class="xianx"></div>
                </div>
                <div class="dateselect" style="margin-top: 10px;height: auto;">
                    <div class="person_msg_titles">
                        <span  class="person_msg_title_check male0" data-id="">全部消息</span>
                        <span data-id="">职位申请</span>
                        <span data-id="">职位邀请</span>
                        <span data-id="">待反馈面试结果</span>
                        <span data-id="">待回复面试评价</span>
                        <span data-id="">系统消息</span>
                    </div>
                </div>
                <div id="all_msg" style="float: left;">
                    <!--系统通知-->
                    <div class="system_msg" style="margin: 30px 0px 40px 0px;width: 730px;">
                        <div class="system_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-xitongtongzhi"></use>
                                </svg>
                                <span class="color999">系统通知</span>
                                <span class="colorbbb">2017-09-31 15:45</span>
                            </div>

                            <div class="system_msg_content">
                                还在打王者荣耀？应届僧邀请你共赴2017腾讯全球合作伙伴大会，作为腾讯公司规模最大的年度行业省会，腾讯旗下20多个业务线将集体在大会上亮相
                            </div>

                            <div class="system_msg_img" style="width: 634px;">
                                <img src="{WL_URL_ARES}images/index_big_banner.png">
                            </div>
                            <a href="#" class="see_system_msg">查看详情&gt;&gt;</a>
                        </div>
                    </div>
                    <!--一天的消息-->
                    {loop $new_arr $list}
                    <div class="one_day_msg">
                        <div class="day_time">
                            <i></i>
                            <span>{$list['time']}</span>
                        </div>


                        <!--投递申请-->
                        {loop $list['content'] $li}
                        {if $li['direction']==2}
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-qiuzhiyixiang"></use>
                                </svg>
                                <span class="color999">投递申请</span>
                                <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                            </div>

                            <div class="delivery_left">
                                <a class="delivery_logo" href="{php echo app_url('member/index/company_detail',array('jobs_id'=>$li['company_uid']))}">
                                    <img src="{$li['headimgurl']}">
                                </a>
                                <a  href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$li['id']))}">{$li['jobs_name']}</a>
                                <a style="margin-left: 20px"  href="{php echo app_url('member/index/company_detail',array('jobs_id'=>$li['company_uid']))}">{$li['companyname']}</a><br>
                                <span style="display: inline-block;margin-top: 22px">
                                最新状态：
                                {if $li['status']==-1}
                                    不合适
                                {elseif $li['status']==0}
                                    未查看
                                {elseif $li['status']==1}
                                    已查看
                                {elseif $li['status']==3}
                                    邀请面试
                                {/if}
                            </span>
                            </div>

                            <a href="{php echo app_url('person/index/send_resume')}" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>
                        {/if}
                        {/loop}
                        <!--面试邀请-->
                        {loop $list['content'] $li}
                        {if $li['direction']==1 && $li['status']==3}
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-gongzuojingli"></use>
                                </svg>
                                <span class="color999">面试邀请</span>
                                <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                            </div>

                            <div class="delivery_left">
                                <a class="delivery_logo" href="{php echo app_url('member/index/company_detail',array('company_id'=>$li['company_uid']))}">
                                    <img src="{$li['headimgurl']}">
                                </a>
                                <a  href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$li['id']))}">{$li['jobs_name']}</a><br>
                                <a style="display: inline-block;margin-top: 22px"  href="{php echo app_url('member/index/company_detail',array('company_id'=>$li['uid']))}">{$li['companyname']}</a>
                            </div>

                            <a href="{php echo app_url('person/index/send_resume',array('nav'=>1))}" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>
                        {/if}
                        {/loop}

                        <!--问答提醒-->
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-wendatixing"></use>
                                </svg>
                                <span class="color999">问答提醒</span>
                                <span class="colorbbb">2017-09-31 15:45</span>
                            </div>

                            <div class="delivery_left" style="line-height: 24px">
                        <span class="delivery_headerimg">
                            <img src="{WL_URL_ARES}images/qiyelogo.png">
                        </span>
                                <span>拒绝了您的问题：</span><br>
                                <span>刚毕业的大学生找工作如何防止被骗？</span>
                            </div>

                            <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>

                        <!--评论回复-->
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-pinglunhuifu"></use>
                                </svg>
                                <span class="color999">评论回复</span>
                                <span class="colorbbb">2017-09-31 15:45</span>
                            </div>

                            <div class="delivery_left" style="line-height: 24px">
                        <span class="delivery_headerimg">
                            <img src="{WL_URL_ARES}images/qiyelogo.png">
                        </span>
                                <span>回复了您在<span style="color: #7b8fc9">“一个刚毕业的会计学生简历上有哪些经历会加分？”</span>中的评论</span>
                            </div>

                            <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>

                        <!--面试评价-->
                        {loop $list['content'] $li}
                        {if $li['hr_reply_status']==1}
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-pinglunhuifu"></use>
                                </svg>
                                <span class="color999">面试评价</span>
                                <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                            </div>

                            <div class="delivery_left">
                        <span class="delivery_logo">
                            <img src="{$li['headimgurl']}">
                        </span>
                                <span><span style="color: #7b8fc9">{$li['companyname']}</span>回复了您的面试评价</span>
                            </div>

                            <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>
                        {/if}
                        {/loop}
                    </div>
                    {/loop}
                </div>
            </div>


        </div>
    </div>
    <div class="p1_right" style="margin-top: 10px">
        <div class="part_one">
            <p class="titleri">面试安排</p>
            <div class="wanzhengdu" style="margin-top: 10px;float: left;margin-left: 20px;">
                <label class="bg_kuang" style="width: 268px;margin-right: 0;margin-bottom: 30px;">
                    <input class="inputku" type="text" readonly=""  name="endtime" id="endtime" value="{php echo date('Y-m-d')}" style="width: 216px;">
                    <svg class="icon riliico" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-rili"></use>
                    </svg>
                </label>
            </div>
            <div class="listcon">
                {if $resume}
                {loop $resume $list}
                <div class="minashi_list">
                    <p>
                        <label class="name_sm">{$list['fullname']}</label>
                        <a class="viewico" href="#">查看简历</a>
                    </p>
                    <p style="margin-top: 10px;">
                        <label class="zhiwei_ms">{$list['jobs_name']}</label>
                        <a class="viewico" >打印简历</a>
                    </p>
                </div>
                {/loop}
                <a class="morejobss color99" href="#">展开更多职位&gt;&gt;</a>
                {else}
                <span class="morejobss color99" >暂无面试安排</span>
                {/if}
            </div>
        </div>
        <div class="part_one">
            <div class="about_company_img" style="margin-bottom: 10px;">
                <img src="{WL_URL_ARES}images/ads1.png">
            </div>
        </div>
        <div class="part_one">
            <div class="title-top">
                <label class="top_con">联系客服</label>
            </div>
            <div class="link_con">
                <p class="widthkf nowrap">
                    <label class="title_kf">电话</label>
                    <label class="kf_msg">400-300-4444</label>
                </p>
                <p class="widthkf nowrap">
                    <label class="title_kf">邮箱</label>
                    <label class="kf_msg">hrzx@yingjieseng.com</label>
                </p>
                <div class="erweimakf">
                    <img src="http://localhost/addons/recruit/app/resource/images/erweima.png"/>
                </div>
                <p class="tssm">扫描二维码，联系我们</p>
            </div>
        </div>
    </div>


</div>


</body>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery-ui.min.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>
<script>

    var option = {
        year:"",
        month:"",
        page:1
    }




    $('#endtime').datepicker({
        minDate:0,
        dateFormat: 'yy-mm-dd',
        changeMonth: true,
        dayNames: ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
        dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
        monthNamesShort: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']

    })

    //消息切换效果
    $(".person_msg_titles span").click(function () {
        $(".person_msg_titles span").removeClass("person_msg_title_check")
        $(this).addClass("person_msg_title_check")
    })

</script>
</html>