<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/swiper-3.4.2.min.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/reguser1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/super_company.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/job_apply.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/super_company_list.css" rel="stylesheet">
    <title>名企招聘</title>
    <style>
        .abnormal .formtip{
            position: absolute;
            margin-top: 0;
        }
        .relative input{
            position: absolute;
        }
        .recruit_result span{
            width: 120px;
        }
        .swiper-container{
            width: 100%;
        }
        .swiper-pagination-bullet{
            width: 50px;
            height: 10px;
            border-radius: 6px;
            background-color: rgba(255,255,255,0.5);
            opacity: 1;
        }
        .swiper-pagination-bullet-active{
            background-color:#09c;
        }
    </style>

</head>
<body bgcolor="#f4f4f4">

{if $_SESSION['uid']}
{php include wl_template('common/top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="super_banner" style="background: none">
    <div class="swiper-container swiper-container-horizontal">
        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
            <div class="swiper-slide">
                <div class="company_img" style="background:url('/addons/recruit/app/resource/images/super_banner.png')no-repeat center"></div>
            </div>
            <div class="swiper-slide">
                <div class="company_img" style="background:url('/addons/recruit/app/resource/images/super_banner.png')no-repeat center"></div>
            </div>
            <div class="swiper-slide">
                <div class="company_img" style="background:url('/addons/recruit/app/resource/images/super_banner.png')no-repeat center"></div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
        <!-- 如果需要导航按钮 -->
    </div>
</div>

<div class="width1200">
    <div class="super_company_nav">
        <span class="font18">工作地点：<lable class="gzaddress">全国</lable></span>
        <span class="change_jobaddress change1">[切换]</span>
        <span class="change_alt">根据您的IP自动匹配，如需查看其他城市，请点击</span>
        <span class="change_jobaddress change2" style="margin-left: 0">[切换]</span>

        <div class="city_option mingqio">
            <div class="city_top">
                <label class="zimu_zu selest marl70">ABCD</label>
                <label class="zimu_zu">FGHJ</label>
                <label class="zimu_zu">KLMN</label>
                <label class="zimu_zu">PQST</label>
                <label class="zimu_zu magr30">WXYZ</label>
            </div>
            <div class="city_lister">
                <div class="zimu_one"></div>
            </div>
        </div>

        <div class="search_box">
            <label>
                <input type="text" placeholder="请输入公司名查找" id="company_name">
            </label>
            <span class="search_sub">搜索</span>
        </div>
    </div>

    <div id="company_box">
        {loop $star_company $list}
        <div class="super_company_lists">
            <div class="super_company_banner">
                <div class="super_company_bannerbox">
                    <img class="changesize" src="/attachment/{$list['banner']}"/>
                </div>
            </div>
            <div class="super_company_msg">
                <div class="super_company_logo">
                    <a href="#">
                        <img class="changesize" src="/attachment/{$list['headimgurl']}">
                    </a>
                </div>
                <div class="surper_company_title">{$list['companynmae']}</div>
                <div class="surper_company_introduce">
                    {php echo mb_substr(strip_tags($list['introduce']),0,30,"UTF8")}
                </div>
            </div>

            {if $list['star_jobs']}
            <div class="recruit_jobs">
                <img style="float: left;margin: 34px 30px 0 0;" src="/addons/recruit/app/resource/images/recruit_job.png">

                {loop $list['star_jobs'] $li}
                <a href="{php echo app_url('member/index/super_company',array('id'=>$list['id']))}#{php echo $li['jobs_name'].$li['id']}" class="recruit_jobsbtn">
                    {$li['jobs_name']}
                </a>
                {/loop}

                <a href="{php echo app_url('member/index/super_company')}" style="float: right;margin:32px 0 0 0" class="recruit_jobsbtn">
                    更多职位>>
                </a>


            </div>
            {/if}
        </div>
        {/loop}
    </div>



    <div>
        <span class="find_morejob">加载更多>></span>
    </div>
</div>







</body>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.cookie.js" rel="script"></script>
<script src="{WL_URL_ARES}js/swiper.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/newfile.js" rel="script"></script>
<script src="{WL_URL_ARES}js/style_zj.js" rel="script"></script>
<script src="{WL_URL_ARES}js/morecity.js" rel="script"></script>

<script type="text/javascript">


    $(function () {
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            slidesPerView: 1,
            roundLengths : true,
            autoplay:3000,
            pagination: '.swiper-pagination'
            // 如果需要前进后退按钮
        });

        var option={
            page:1,
            job_city:"",
            company_name:""
        };

        $(".search_sub").on("click",function(){
            var company_name=$("#company_name").val();
            option.company_name=company_name;
            supercompany(option);
        });


        $(".find_morejob").on("click",function(){
            if(!$(this).hasClass("no_content")){
                option.page+=1;
                supercompany(option);
            }
        });
        function supercompany(option){
            $.ajax({
                url:"",
                type:"post",
                data:option,
                success:function(data){
                    var data=JSON.parse(data);
                    if(data.status==1){
                        if(data.content){
                            $("#company_box").append(data.content);
                        }else{
                            $(".find_morejob").html("没有更多内容了").addClass("no_content");
                        }

                    }
                },
                error:function(err){
                    console.log(err);
                }
            })
        }
        
        
        $(".change1").click(function () {
            $(".mingqio").css({
                "display":"block",
                "left":"20px"
            })
        })
        $(".change2").click(function () {
            $(".mingqio").css({
                "display":"block",
                "left":"420px"
            })
        })
        $("body").on("click",".city_item",function () {
            var city=$.trim($(this).html());
            $(".mingqio").hide();
            $(".gzaddress").html(city);
            option.job_city=city;
            supercompany(option);

        })



    })


</script>
</html>