<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/reguser1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/navigation.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/usersetting.css" rel="stylesheet">
    <title>关于我们</title>
</head>
<body>
{if $_SESSION['utype']==1}
{php include wl_template('common/top');}
{elseif $_SESSION['utype']==2}
{php include wl_template('common/company_top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="about_banner"></div>
<div class="width1200" style="background-color: #fff">

    <div class="nav_left">
        <div class="left_btn_nav select">
           <span class="left_btn_con selectit">关于我们</span>
        </div>
        <div class="left_btn_nav ">
            <span class="left_btn_con">联系我们</span>
        </div>
        <div class="left_btn_nav ">
            <span class="left_btn_con">媒体报道</span>
        </div>
        <div class="left_btn_nav ">
            <span class="left_btn_con">留言反馈</span>
        </div>
        <div class="left_btn_nav ">
            <span class="left_btn_con">法律声明</span>
        </div>
        <div class="left_btn_nav ">
            <span class="left_btn_con">隐私政策</span>
        </div>
    </div>


    <div class="nav_right1">
        <!--关于我们-->
        <div class="rightcon bind_con">
            <div class="top_title">关于我们</div>
            <div class="top_line"></div>
            <div class="part_one">
                <div class="bind_h">
                    <label>应届生求职招聘体系</label>
                </div>
                <div class="jieshao_con" style="clear: both;">重庆聚焦人才服务有限公司成立于2002年，经过15年的发展，已成为重庆市本土招聘行业的领军企业。聚焦人才现有2大主力产品—汇博网和汇博人才市场，4大发展产品—HR学院、校园招聘会、人力资源服务外包及汇博猎头。为更好地服务重庆的企业与求职者，聚焦构建了“一网二平台一基地”的服务网络。
                    西南地区极具影响力的人才服务网站，“2对1”人事助理服务，专业招聘顾问帮助企业快速选拔人才！目前有效简历逾360万份，入驻企业20万余家 ，每日有效职位超过10万条，每日12万人才在线找工作，日均页面浏览量100万，市场份额占重庆同行业的48%。15年专注人才服务，值得信赖！
                </div>
                <div class="company_pics">
                    <img src="{WL_URL_ARES}images/person_img.png" class="company_pic">
                    <img src="{WL_URL_ARES}images/person_img.png" class="company_pic">
                    <img src="{WL_URL_ARES}images/person_img.png" class="company_pic">
                </div>
            </div>
            <div class="part_one">
                <div class="bind_h">
                    <label>应届生求职招聘体系</label>
                </div>
                <div class="jieshao_con" style="clear: both;">重庆聚焦人才服务有限公司成立于2002年，经过15年的发展，已成为重庆市本土招聘行业的领军企业。聚焦人才现有2大主力产品—汇博网和汇博人才市场，4大发展产品—HR学院、校园招聘会、人力资源服务外包及汇博猎头。为更好地服务重庆的企业与求职者，聚焦构建了“一网二平台一基地”的服务网络。
                    西南地区极具影响力的人才服务网站，“2对1”人事助理服务，专业招聘顾问帮助企业快速选拔人才！目前有效简历逾360万份，入驻企业20万余家 ，每日有效职位超过10万条，每日12万人才在线找工作，日均页面浏览量100万，市场份额占重庆同行业的48%。15年专注人才服务，值得信赖！
                </div>
                <div class="company_pics">
                    <img src="{WL_URL_ARES}images/person_img.png" class="company_pic">
                    <img src="{WL_URL_ARES}images/person_img.png" class="company_pic">
                    <img src="{WL_URL_ARES}images/person_img.png" class="company_pic">
                </div>
            </div>
            <div class="part_one">
                <div class="bind_h">
                    <label>应届生求职招聘体系</label>
                </div>
                <div class="jieshao_con" style="clear: both;">
                    <p class="title_js">客户第一</p>
                    <p>重庆聚焦人才服务有限公司成立于2002年</p>
                    <p>重庆聚焦人才服务有限公司成立于2002年</p>
                    <p>重庆聚焦人才服务有限公司成立于2002年</p>
                    <p>重庆聚焦人才服务有限公司成立于2002年</p>
                    <p>重庆聚焦人才服务有限公司成立于2002年</p>
                </div>

            </div>
        </div>
        <!--关于我们end-->
        <!--联系我们-->
        <div class="rightcon secret_con" style="display: none;">
            <div class="top_title" style="margin-bottom: 20px;">联系我们</div>
            <div class="top_line"></div>
            <div class="bind_h">
                <label>应届僧招聘网</label>
            </div>
            <div class="jieshao_con" style="line-height: 36px;">
                <p>传真号码：023-34343434</p>
                <p>邮箱编码：222@qq.com</p>
                <p>邮件号码：222@qq.com</p>
                <p>详细地址：重庆市江北区观音桥北城天街富力海洋广场网商产业园-2楼
                    <label class="ditu_btn">查看地图</label>
                </p>
            </div>
            <div class="mobile_cards">
                <div class="one_mobile_card">
                    <img src="{WL_URL_ARES}images/contactImg01.png" class="card_pic">
                    <div class="card_con">
                        <p class="ttcard">企业客户服务</p>
                        <p>电话：023-34343434023-34343434023-34343434023-34343434023-34343434</p>
                        <p>QQ：222@qq.com</p>
                        <p>时间：222@qq.com</p>
                    </div>
                </div>
                <div class="one_mobile_card">
                    <img src="{WL_URL_ARES}images/contactImg01.png" class="card_pic">
                    <div class="card_con">
                        <p class="ttcard">企业客户服务</p>
                        <p>电话：023-34343434023-34343434023-34343434023-34343434023-34343434</p>
                        <p>QQ：222@qq.com</p>
                        <p>时间：222@qq.com</p>
                    </div>
                </div>
                <div class="one_mobile_card">
                    <img src="{WL_URL_ARES}images/contactImg01.png" class="card_pic">
                    <div class="card_con">
                        <p class="ttcard">企业客户服务</p>
                        <p>电话：023-34343434023-34343434023-34343434023-34343434023-34343434</p>
                        <p>QQ：222@qq.com</p>
                        <p>时间：222@qq.com</p>
                    </div>
                </div>
                <div class="one_mobile_card">
                    <img src="{WL_URL_ARES}images/contactImg01.png" class="card_pic">
                    <div class="card_con">
                        <p class="ttcard">企业客户服务</p>
                        <p>电话：023-34343434023-34343434023-34343434023-34343434023-34343434</p>
                        <p>QQ：222@qq.com</p>
                        <p>时间：222@qq.com</p>
                    </div>
                </div>
            </div>



        </div>
        <!--联系我们end-->
        <!--媒体报道-->
        <div class="rightcon psw_con"  style="display: none;">
            <div class="top_title">媒体报道</div>
            <div class="top_line"></div>
            <div class="articles">
                <div class="one_article">
                    <img src="{WL_URL_ARES}images/gongsi.png" class="article_pic">
                    <div class="article_con">
                        <p class="title_article">梧桐果大数据：民营企业成校招主力，营销类人才遭遇抢夺大数据：民营企业成大数据：民营企业成大数据：民营企业成</p>
                        <p class="zw_article">“金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪个规模企业校招需求最大？梧桐果大数据为您一一解答。金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪</p>
                        <p class="article_time">2017-10</p>
                    </div>
                </div>
                <div class="one_article">
                    <img src="{WL_URL_ARES}images/gongsi.png" class="article_pic">
                    <div class="article_con">
                        <p class="title_article">梧桐果大数据：民营企业成校招主力，营销类人才遭遇抢夺大数据：民营企业成大数据：民营企业成大数据：民营企业成</p>
                        <p class="zw_article">“金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪个规模企业校招需求最大？梧桐果大数据为您一一解答。金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪</p>
                        <p class="article_time">2017-10</p>
                    </div>
                </div>
                <div class="one_article">
                    <img src="{WL_URL_ARES}images/gongsi.png" class="article_pic">
                    <div class="article_con">
                        <p class="title_article">梧桐果大数据：民营企业成校招主力，营销类人才遭遇抢夺大数据：民营企业成大数据：民营企业成大数据：民营企业成</p>
                        <p class="zw_article">“金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪个规模企业校招需求最大？梧桐果大数据为您一一解答。金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪金九银十”校招季来临，这个季节意味着700多万大学生要面临着择业的迷茫，当然，这也意味着各行业HR也要开始校招的煎熬。企业想要招聘到符合自己岗位的求职者，毕业生则更想选择一个自己心仪的企业。
                            2018届秋季校招进入高峰之际，究竟哪个性质企业招聘需求最多？哪个专业最受欢迎？哪</p>
                        <p class="article_time">2017-10</p>
                    </div>
                </div>
            </div>
        </div>
        <!--媒体报道end-->
    <!--留言反馈-->
    <div class="rightcon liuyanfankui"  style="display: none;">
        <div class="top_title">留言反馈</div>
        <div class="top_line"></div>
        <div class="bind_h liuyans">
            感谢您提出宝贵意见，我们会认真对待每一个问题，并在一个工作日内以邮件、短信或电话的方式给您回复。
        </div>
        <div class="inputsbd">
            <div class="input_hang">
                <div class="inputtitle"><label style="color: red;">*</label>姓名</div>
                <div class="input_33 inputww">
                    <input class="psw_input" id="lyname" type="text" placeholder=""/>
                </div>
                <div class="chec_tip tips11"></div>
            </div>
            <div class="input_hang">
                <div class="inputtitle"><label style="color: red;">*</label>手机号码</div>
                <div class="input_33 inputww">
                    <input class="psw_input" id="lymobile" type="text" placeholder="" maxlength="11"/>
                </div>
                <div class="chec_tip tips11"></div>
            </div>
            <div class="input_hang">
                <div class="inputtitle"><label style="color: red;">*</label>邮箱</div>
                <div class="input_33 inputww">
                    <input class="psw_input" id="lyemail" type="text" placeholder=""/>
                </div>
                <div class="chec_tip tips11"></div>
            </div>
            <div class="input_hang" style="margin-bottom: 30px;">
                <div class="inputtitle"><label style="color: red;">*</label>验证码</div>
                <div class="input_33 inputww">
                    <input class="psw_input" id="lycheckma" type="text" placeholder="" maxlength="4"/>
                </div>
                <div class="yanzhengma11">
                    <img src="{php echo app_url('member/index/captcha')}" class="pic_yan"  />
                </div>
                <div class="chec_tip tips11"></div>
            </div>
            <div class="input_hang">
                <div class="inputtitle"><label style="color: red;">*</label>反馈内容</div>
                <div class="input_33 inputarear">
                    <textarea class="psw_input textaree" id="lymsg" type="text" placeholder="请输入反馈内容"></textarea>
                </div>
                <div class="chec_tip tips11"></div>
            </div>
            <div class="input_hang">
                <div class="inputtitle">上传图片</div>
                <div class="tupiancon">

                    <div class="ico_shangchuan" id="ico_shangchuan">
                        <svg class="icon tianjia" style="margin-top: 45px;">
                            <use xlink:href="#icon-tianjia"></use>
                        </svg>
                        <p>上传图片</p>
                    </div>
                </div>
            </div>
            <input type="hidden" class="atlas" value="">
            <div class="input_hang">
                <div class="inputtitle"></div>
                <div class="btntijiao">提交</div>
            </div>
        </div>
    </div>
    <!--留言反馈end-->
    <!--法律声明-->
    <div class="rightcon falv"  style="display: none;">
        <div class="top_title">法律声明</div>
        <div class="top_line"></div>

        <div class="bind_h">
            <p class="fltittle">版权</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">商标</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">承担责任</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">免责声明</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">网站使用</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
           </div>
    </div>
    <!--法律声明end-->

    <!--隐私政策-->
    <div class="rightcon yinsizhengce"  style="display: none;">
        <div class="top_title">隐私政策</div>
        <div class="top_line"></div>
        <div class="bind_h">
            <p class="fltittle">个人资料</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">IP地址</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">承担责任</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">Cookie</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有限公司、重庆聚焦科技有限公司所有。 汇博网上的合作者的商标属于合作者所有。</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">信息的修改</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达</p>
        </div>
        <div class="bind_h">
            <p class="fltittle">特别声明</p>
            <p class="jieshifl">汇博网的商标属于：重庆聚焦人才服务有限公司及旗下重庆展达属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有属于：重庆聚焦人才服务有限公司及旗下重庆展达人力资源服务有</p>
        </div>
    </div>
    <!--隐私政策end-->
    </div>
</div>



<!--上传头像弹框-->
<div class="modalbox loginn_zj" id="modalbox" style="display: none;">
    <div class="modal">
        <p class="title_content">上传图片</p>
        <span class="modalclose">
                <img src="{WL_URL_ARES}images/close.png"/>
        </span>
        <div class="modal_con">
            <div class="one_btn">

                <div class="uploadimgbox">
                    <svg class="icon" aria-hidden="true" >
                        <use xlink:href="#icon-shangchuan"></use>
                    </svg>
                </div>

                <div class="upload" style="display: none">
                    <img src="{WL_URL_ARES}images/timg22.png" class="rzpic"/>
                    <div class="meng"><span>重新上传</span></div>
                </div>

            </div>
            <form id="choosefile1" enctype="multipart/form-data">
                <input type="file" name='file' id="choosefile" accept="image/*" />
            </form>
            <div class="erweima">
                <img src="{WL_URL_ARES}images/erweima.png" class="pic"/>
            </div>
        </div>
        <div class="title">
            <span>电脑上传</span>
            <span>手机扫码上传</span>
        </div>
        <span class="public_bigbtn bg1aa modalbtn liuyansc"> 立即上传</span>
    </div>
</div>
<!--弹框end-->



</body>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.cookie.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/newfile.js" rel="script"></script>
<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>
<!--<script src="{WL_URL_ARES}js/usersetting.js" rel="script"></script>-->
<script src="{WL_URL_ARES}js/jquery.qrcode.min.js" rel="script"></script>
<script src="{WL_URL_ARES}js/upload_refresh.js" rel="script"></script>
<script src="{WL_URL_ARES}js/aboutus.js" rel="script"></script>

<script>
    $(function () {

        var nav = "{$nav}";
        $(".left_btn_nav").removeClass("select");
        $(".left_btn_nav").eq(nav).addClass("select");
        $(".left_btn_con").removeClass("selectit");
        $(".left_btn_con").eq(nav).addClass("selectit");
        $(".rightcon").css("display","none");
        $(".rightcon").eq(nav).css("display","block");


        $(".pic_yan").click(function () {
            $(this).attr("src","{php echo app_url('member/index/captcha')}");
        })
        {if $_GET['fankui']}
        $(".left_btn_nav").eq(3).click();
        {/if}
    })
</script>
</html>