<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/reguser1.css" rel="stylesheet">
    <title>邮箱找回密码</title>
</head>
<body>
{if $_SESSION['uid']}
{php include wl_template('common/top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="resume_content">

    <div class="login_msg" >
        <div class="login_zj find_psw">
            <div style="font-size: 16px;text-align: center;margin: 40px 0;">邮箱找回密码<span style="font-size: 12px;color: #bbb">(暂不支持企业用户)</span></div>
            <div class="tel_con">
            <label class="general-input wrap" >
                <input type="text" id="tel_number" placeholder="请输入注册时使用的手机号码" maxlength="15">
            </label>
            <div class="chec_tip"></div>
            <label class="general-input wrap" style="margin-top: 20px">
                <input type="text" id="yanzhengma" placeholder="请输入注册时使用的邮箱" >
            </label>
            <div class="chec_tip"></div>
            <span class="public_bigbtn bg1aa wrap" id="find_password_tel">找回密码</span>
            <!--<span  id="return_login_tel">返回登录</span>-->
            </div>

        </div>

        <div class="forget_backbox">
            <a class="color" style="line-height: 86px;margin-left: 30px" href="{php echo app_url('member/index/login')}">返回登录</a>

            <div style="line-height: 86px;float: right;">


                <a href="{php echo app_url('member/index/forget_password')}"  style="margin-right: 12px;padding-right: 10px;border-right: 1px solid #eee">
                    <span class="color">手机号找回</span>
                    <svg class="icon" aria-hidden="true" style="color: #ffffff;font-size: 15px">
                        <use xlink:href="#icon-youjiantou"></use>
                    </svg>
                </a>

                <a href="{php echo app_url('member/index/forget_password_permit')}"  style="margin-right: 30px">
                    <span class="color">营业执照找回</span>
                    <svg class="icon" aria-hidden="true" style="color: #ffffff;font-size: 15px">
                        <use xlink:href="#icon-youjiantou"></use>
                    </svg>
                </a>
            </div>


        </div>
    </div>
</div>


</body>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/login_reg_account.js" rel="script"></script>
<script>
    $(document).ready(function(){


        forget_password();
        var telphone_reg=/^1[3|5|7|8][0-9]\d{8}$/;
        var eamiltest=/^([0-9A-Za-z\-_\.]+)@([0-9a-z]+\.[a-z]{2,3}(\.[a-z]{2})?)$/;
        //邮箱找回密码
        $("#find_password_tel").click(function(){
            var tel=$("#tel_number").val();
            var yanzheng=$("#yanzhengma").val();
            if(tel==""){
                hint("error","请输入手机号码")
                return false;
            }else if(!(telphone_reg.test(tel))){
                hint("error","请输入正确格式的号码")
                return false;
            }
            if(yanzheng==""){
                hint("error","请输入邮箱")

                return false;
            }else if(!(eamiltest.test(yanzheng))){

                hint("error","请输入正确的邮箱")
                return false;
            }

            $.ajax({
                url:"{php echo app_url('member/index/pwd_byemail')}",
                type:"post",
                data:{
                    tel:tel,
                    yanzheng:yanzheng
                },
                success:function(data){
                    var data = JSON.parse(data);

                    if(data.status==1){
                        hint("success","邮件发送成功，请前往邮箱修改密码");
                        window.setInterval(function () {
                            location = location;
                        },1200)
                    }else{
                        hint("error",data.content);
                    }
                }
            });
        });
        //邮箱找回密码
//        $("#find_password_email").click(function(){
//            var email=$("#email_number").val();
//            var yanzheng1=$("#yanzhengma1").val();
//            var email_input=$("#email_number").closest(".general-input");
//            var yanzheng_input1=$("#yanzhengma1").closest(".general-input");
//            if(email==""){
//                email_input.css("border-color","#e23d46");
//                email_input.next().html(tipmsg("error","请输入电子邮箱号码"));
//                return false;
//            }else if(!(eamiltest.test(email))){
//                email_input.css("border-color","#e23d46");
//                email_input.next().html(tipmsg("error","请输入正确格式的邮箱"));
//                return false;
//            }else{
//                email_input.next().html("");
//            }
//
//
//            $.ajax({
//                url:"{php echo app_url('member/index/pwd_byemail')}",
//                type:"post",
//                data:{
//                    email:email,
//                },
//                success:function(data){
//                    if(data.status==1){
//                        window.location.href="";
//                    }else{
//                        console.log(data.content);
//                    }
//                }
//            });
//        });
//
//        $("body").on("click",".tel_con .click",function () {
//            $.ajax({
//                type:"post",
//                url:"{php echo app_url('member/index/send_code')}",
//                data:{
//                    style:"tel",
//                    tel:$("#tel_number").val()
//                },
//                success:function (data) {
//                    var data=JSON.parse(data);
//                    console.log(data.content);
//                    if(data.status==1){
//
//                    }
//                }
//            })
//        })
    })
</script>
</html>