<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/mobileuoload.css" rel="stylesheet">
    <title>手机照片上传</title>
</head>
<body>
<div class="mobilebox">
    <div class="top_structure">
        <img class="logo" src="{WL_URL_ARES}images/logo_1.png">
        <div class="file_name">
            {php echo $kind}
        </div>

        <div class="imgbox camera"  style="border: 0;background-color: #f8f9fb;">
            <svg class="icon icon1" aria-hidden="true" style="width: auto">
                <use xlink:href="#icon-shangchuan"></use>
            </svg>
        </div>
        <div class="success_upload" style="display: none"><svg class="icon" aria-hidden="true" >
            <use xlink:href="#icon-zhengque2"></use>
        </svg>上传成功
        </div>
        <form id="choosefile1" enctype="multipart/form-data">
            <input type='file' name='file' id='file' accept='image/*' style="display: none">
            <input type="hidden" name="identity" value="{php echo $_GPC['identity']}">
        </form>
        <span class="file_btn camera choose_file">选择文件</span>
        <span class="file_btn camera1">确定上传</span>
        <span class="file_btn Album1">更换照片</span>
    </div>
</div>
</body>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/ajaxfileupload.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/mobileuoload.js" rel="script"></script>

<script>

    var imgsrc="";
    //上传文件
    $('.camera,.Album1').on('click',function(){
        var file=$("#file");
        file.click();

        file.on('change',function(e){
            var height=$(window).height();

            var imgfile=this.files[0];
            var src=URL.createObjectURL(imgfile);
            var uploadsuccesspic="<img style='height:"+height*20.5/100+"px;width:"+height*20.5/100+"px;margin-top:"+height*2/100+"px;margin-bottom:"+height*2/100+"px' src='"+src+"'>"
            $('.imgbox').html(uploadsuccesspic);
            $(".camera1").css("display","block");
            $(".Album1").css("display","block");
            $(".choose_file").css("display","none");
            $(".camera1").show();
            $(".success_upload").hide();
            //uploadFile(this,'file');
            dealImage(src,{
                width:200
            },function(data){
                imgsrc=data;
            });
        });
    });

    //上传图片
    $(".camera1").on("click",function(){


        $.ajax({
            url:"{$url}",
            type:"post",
            data:{
                file:imgsrc,
                identity:"{$_GPC['identity']}",
                kind:"{$_GPC['kind']}"
            },
            success:function (data) {
                var data=JSON.parse(data);
                if(data.status==1){
                    $(".success_upload").show().html("<svg class='icon' aria-hidden='true'>"+
                            "<use xlink:href='#icon-zhengque2'></use></svg>上传成功")
                    $(".camera1").hide();
                }else{
                    $(".success_upload").show().html("<svg class='icon' aria-hidden='true' style='color: #ea5941'>"+
                    "<use xlink:href='#icon-cuowu'></use></svg>上传头像弹窗已关闭，上传失败")
                }
                $(".chec_tip1").eq(1).html("");
            },
            error:function(err){
                $(".success_upload").hide();
            }
        });
    })


    function dealImage(path, obj, callback){
        var img = new Image();
        img.src = path;
        img.onload = function(){
            var that = this;
            // 默认按比例压缩
            var w = that.width,
                    h = that.height,
                    scale = w / h;
            w = obj.width || w;
            h = obj.height || (w / scale);
            var quality = 0.7;  // 默认图片质量为0.7
            //生成canvas
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');
            // 创建属性节点
            var anw = document.createAttribute("width");
            anw.nodeValue = w;
            var anh = document.createAttribute("height");
            anh.nodeValue = h;
            canvas.setAttributeNode(anw);
            canvas.setAttributeNode(anh);
            ctx.drawImage(that, 0, 0, w, h);
            // 图像质量
            if(obj.quality && obj.quality <= 1 && obj.quality > 0){
                quality = obj.quality;
            }
            // quality值越小，所绘制出的图像越模糊
            var base64 = canvas.toDataURL('image/jpeg', quality );
            // 回调函数返回base64的值
            callback(base64);
        }
    }



</script>
</html>