<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/navigation.css" rel="stylesheet">
    <title>网址导航地图</title>
</head>
<body>
{php include wl_template('common/header');}



<div class="width1200" style="background-color: #fff">
    <div class="nav_title">
        <span  class="nav_title_name">网站导航地图</span>
        <span  class="nav_title_line"></span>
    </div>
    <div class="nav_left">
        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-fangdajing"></use>
            </svg>
            <span>职位搜索</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xiaoyuanzhaopin"></use>
            </svg>
            <span>校园招聘</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-qiuzhibaobiao"></use>
            </svg>
            <span>求职保镖</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-zhichangxinyong1"></use>
            </svg>
            <span>职场信用</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-daoshixitong"></use>
            </svg>
            <span>导师系统</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-jianlizhongxin"></use>
            </svg>
            <span>简历中心</span>
        </a>


        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-qiyezhongxin"></use>
            </svg>
            <span>企业中心</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-zhiweifenlei"></use>
            </svg>
            <span>职位分类</span>
        </a>

        <a href="#" class="nav_left_btn" style="margin-top: 178px">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-hangyefenlei"></use>
            </svg>
            <span>行业分类</span>
        </a>


    </div>


    <div class="nav_right">
        <div class="nav_right_btns">
            <span class="color999">
                职位、行业类别随您选，灵活组合任意搜
            </span>
        </div>


        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">找全职</a>
            <a href="#" class="nav_right_btn">找实习</a>
            <a href="#" class="nav_right_btn">校企宣传会</a>
            <a href="#" class="nav_right_btn">名企招聘</a>
            <a href="#" class="nav_right_btn">视频宣传会</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">先行赔付</a>
            <a href="#" class="nav_right_btn">法律援助</a>
            <a href="#" class="nav_right_btn">资金安全</a>
            <a href="#" class="nav_right_btn">信息安全</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">个人信用</a>
            <a href="#" class="nav_right_btn">企业信用</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">个人问答</a>
            <a href="#" class="nav_right_btn">课程预告</a>
            <a href="#" class="nav_right_btn">导师详情</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">投递管理</a>
            <a href="#" class="nav_right_btn">简历管理</a>
            <a href="#" class="nav_right_btn">收藏订阅</a>
            <a href="#" class="nav_right_btn">职场信用</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">简历管理</a>
            <a href="#" class="nav_right_btn">职位管理</a>
            <a href="#" class="nav_right_btn">HR工具</a>
            <a href="#" class="nav_right_btn">公司信息</a>
        </div>


        <div class="nav_right_btns1" style="height: 258px">
            <a href="#" class="nav_right_btn">后端开发</a>
            <a href="#" class="nav_right_btn">移动开发</a>
            <a href="#" class="nav_right_btn">测试</a>
            <a href="#" class="nav_right_btn">前端开发</a>
            <a href="#" class="nav_right_btn">运维/技术支持</a>
            <a href="#" class="nav_right_btn">数据</a>
            <a href="#" class="nav_right_btn">硬件开发</a>
            <a href="#" class="nav_right_btn">人工智能开发</a>
            <a href="#" class="nav_right_btn">视觉设计</a>
            <a href="#" class="nav_right_btn" style="border-right: none">交互设计</a><br>
            <a href="#" class="nav_right_btn" style="padding-left: 0">保险</a>
            <a href="#" class="nav_right_btn">投资</a>
            <a href="#" class="nav_right_btn">金融</a>
            <a href="#" class="nav_right_btn">财会</a>
            <a href="#" class="nav_right_btn">证券</a>
            <a href="#" class="nav_right_btn">工程技术</a>
            <a href="#" class="nav_right_btn">生产管理</a>
            <a href="#" class="nav_right_btn">质量安全</a>
            <a href="#" class="nav_right_btn">设计装修域市政建设</a>
            <a href="#" class="nav_right_btn">物业管理</a>
            <a href="#" class="nav_right_btn" style="border-right: none">房地产经纪</a><br>
            <a href="#" class="nav_right_btn" style="padding-left: 0">教师</a>
            <a href="#" class="nav_right_btn">招生</a>
            <a href="#" class="nav_right_btn">教练</a>
            <a href="#" class="nav_right_btn">健康整形</a>
            <a href="#" class="nav_right_btn">医疗/护理</a>
            <a href="#" class="nav_right_btn">医生</a>
            <a href="#" class="nav_right_btn">能源</a>
            <a href="#" class="nav_right_btn">地质</a>
            <a href="#" class="nav_right_btn">化工</a>
            <a href="#" class="nav_right_btn">餐饮</a>
            <a href="#" class="nav_right_btn">零售</a>
            <a href="#" class="nav_right_btn">酒店</a>
            <a href="#" class="nav_right_btn">通信</a>
            <a href="#" class="nav_right_btn" style="border-right: none">媒体</a>
            <br>
            <a href="#" class="nav_right_btn" style="padding-left: 0">影视</a>
            <a href="#" class="nav_right_btn">广告</a>
            <a href="#" class="nav_right_btn">旅游</a>
            <a href="#" class="nav_right_btn">旅游产品开发/策划</a>
            <a href="#" class="nav_right_btn">环保</a>
            <a href="#" class="nav_right_btn">行政</a>
            <a href="#" class="nav_right_btn">农林牧渔业</a>
            <a href="#" class="nav_right_btn">人力资源</a>
            <a href="#" class="nav_right_btn">物流</a>
            <a href="#" class="nav_right_btn">运输</a>
            <a href="#" class="nav_right_btn" style="border-right: none">仓储</a><br>
            <a href="#" class="nav_right_btn">实习生/培训生/储备干部</a>

        </div>

        <div class="nav_right_btns1" style="height: 123px">
            <a href="#" class="nav_right_btn">IT互联网</a>
            <a href="#" class="nav_right_btn">金融投资证券</a>
            <a href="#" class="nav_right_btn">制造加工</a>
            <a href="#" class="nav_right_btn">房地产</a>
            <a href="#" class="nav_right_btn">教育培训</a>
            <a href="#" class="nav_right_btn">医疗医药</a>
            <a href="#" class="nav_right_btn">能源化工</a>
            <a href="#" class="nav_right_btn">餐饮百货</a>
            <a href="#" class="nav_right_btn">通信</a>
            <a href="#" class="nav_right_btn" style="border-right: none">广告媒体</a>
            <a href="#" class="nav_right_btn">旅游</a>
            <a href="#" class="nav_right_btn">农林牧渔</a>
            <a href="#" class="nav_right_btn">人力资源</a>
            <a href="#" class="nav_right_btn">物流运输</a>
            <a href="#" class="nav_right_btn">其他</a>
        </div>

    </div>
</div>

</body>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
</html>