<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/yingjieseng/addons/recruit/app/resource/css/header.css" rel="stylesheet">
    <link href="/yingjieseng/addons/recruit/app/resource/css/control.css" rel="stylesheet">
    <link href="/yingjieseng/addons/recruit/app/resource/css/navigation.css" rel="stylesheet">
    <title>网址导航地图</title>
</head>
<body>
<div class="header">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <img src="/yingjieseng/addons/recruit/app/resource/images/logo.png"/>
        <div style="height: 52px;line-height: 52px"><span class="city">全国</span><span class="changecity">[切换]</span></div>
        <div class="menu">
            <a href="#">首页</a>
            <a  href="#">找工作</a>
            <a  href="#">实习/兼职</a>
            <a  href="#">求职保镖</a>
            <a  href="#">职场信用</a>
            <a  href="#">就业大数据</a>
        </div>
        <div class="login">
            <a href="#">登陆</a>
            <a href="#">注册</a>
            <a href="#">企业入口</a>
        </div>
    </div>
</div>



<div class="width1200" style="background-color: #fff">
    <div class="nav_title">
        <span  class="nav_title_name">网站导航地图</span>
        <span  class="nav_title_line"></span>
    </div>
    <div class="nav_left">
        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-fangdajing"></use>
            </svg>
            <span>职位搜索</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xiaoyuanzhaopin"></use>
            </svg>
            <span>校园招聘</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-qiuzhibaobiao"></use>
            </svg>
            <span>求职保镖</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-zhichangxinyong1"></use>
            </svg>
            <span>职场信用</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-daoshixitong"></use>
            </svg>
            <span>导师系统</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-jianlizhongxin"></use>
            </svg>
            <span>简历中心</span>
        </a>


        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-qiyezhongxin"></use>
            </svg>
            <span>企业中心</span>
        </a>

        <a href="#" class="nav_left_btn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-zhiweifenlei"></use>
            </svg>
            <span>职位分类</span>
        </a>

        <a href="#" class="nav_left_btn" style="margin-top: 178px">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-hangyefenlei"></use>
            </svg>
            <span>行业分类</span>
        </a>


    </div>


    <div class="nav_right">
        <div class="nav_right_btns">
            <span class="color999">
                职位、行业类别随您选，灵活组合任意搜
            </span>
        </div>


        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">找全职</a>
            <a href="#" class="nav_right_btn">找实习</a>
            <a href="#" class="nav_right_btn">校企宣传会</a>
            <a href="#" class="nav_right_btn">名企招聘</a>
            <a href="#" class="nav_right_btn">视频宣传会</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">先行赔付</a>
            <a href="#" class="nav_right_btn">法律援助</a>
            <a href="#" class="nav_right_btn">资金安全</a>
            <a href="#" class="nav_right_btn">信息安全</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">个人信用</a>
            <a href="#" class="nav_right_btn">企业信用</a>
        </div>

        <div class="nav_right_btns">
            <a href="#" class="nav_right_btn">个人问答</a>
            <a href="#" class="nav_right_btn">企业信用</a>
        </div>


    </div>
</div>

</body>
<script src="/yingjieseng/addons/recruit/app/resource/js/iconfont.js" rel="script"></script>
</html>