<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/navigation.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/usersetting.css" rel="stylesheet">
    <title>用户中心</title>
</head>
<body>
{php include wl_template('common/header');}
<div class="width1200" style="background-color: #fff">

    <div class="nav_left">
        <div class="left_btn_nav select">
           <span class="left_btn_con selectit">账户绑定</span>
        </div>
        <div class="left_btn_nav">
            <span class="left_btn_con">隐私设置</span>
        </div>
        <div class="left_btn_nav">
            <span class="left_btn_con">修改密码</span>
        </div>

    </div>


    <div class="nav_right1">
        <!--账户绑定-->
        <div class="bind_con">
            <div class="top_title">账户绑定</div>
            <div class="top_line"></div>
            <div class="bind_h">
                <label>账号：<span class="mobile">{$member['mobile']}</span></label>
                <label class="changetel_btn">更换手机号</label>
            </div>
            <div class="beizhu">绑定后，您可以同时使用以下方式登录应届僧</div>
            <div class="linedash"></div>
            <div class="style_con">
                <div class="items_1" data_id="1">
                    <div class="pic_ico bgcolor1">
                        <svg class="icon bindico" aria-hidden="true">
                            <use xlink:href="#icon-qq"></use>
                        </svg>
                    </div>
                    <p class="bdbiaoti">绑定QQ</p>
                    <p class="bdbiaoti wraps" style="margin-top: 15px;">昵称：<label style="color: #7b8fc9;">heiheibheibheibheibbi</label></p>
                    <div class="btn_bangding exitbind">解绑</div>
                </div>
                <div class="items_1" data_id="2">
                    <div class="pic_ico bgcolor2">
                        <svg class="icon bindico" aria-hidden="true">
                            <use xlink:href="#icon-weixin"></use>
                        </svg>
                    </div>
                    <p class="bdbiaoti">绑定微信</p>
                    <p class="bdbiaoti wraps" style="margin-top: 15px;">微信为绑定</p>
                    <div class="btn_bangding bindbtn">绑定</div>
                </div>
                <div class="items_1" data_id="3">
                    <div class="pic_ico bgcolor3">
                        <svg class="icon bindico" aria-hidden="true">
                            <use xlink:href="#icon-weibo"></use>
                        </svg>
                    </div>
                    <p class="bdbiaoti">绑定新浪微博</p>
                    <p class="bdbiaoti wraps" style="margin-top: 15px;">新浪微博未绑定</p>
                    <div class="btn_bangding bindbtn">绑定</div>
                </div>
                <div class="items_1" data_id="4">
                    <div class="pic_ico bgcolor4">
                        <svg class="icon bindico" aria-hidden="true">
                            <use xlink:href="#icon-baidu"></use>
                        </svg>
                    </div>
                    <p class="bdbiaoti">绑定百度账号</p>
                    <p class="bdbiaoti wraps" style="margin-top: 15px;">昵称：<label style="color: #7b8fc9;">heiheibheibheibheibbi</label></p>
                    <div class="btn_bangding exitbind">解绑</div>
                </div>
            </div>
        </div>
        <!--账户绑定end-->
        <!--隐私设置-->
        <div class="secret_con" style="display: none;">
            <div class="top_title" style="margin-bottom: 20px;">隐私设置</div>
            <div class="top_line"></div>
            <div class="select_item">
                <div class="radio_check {if $resume['display']==1}checked{/if}">
                    <svg class="icon checkico" aria-hidden="true">
                        <use xlink:href="#icon-kongxingou"></use>
                    </svg>
                </div>
                <label class="biezhu_item">所有公司都能看到我</label>
            </div>
            <div class="select_item pingbid">
                <div class="radio_check pingbi {if $resume['display']==3}checked{/if}">
                    <svg class="icon checkico" aria-hidden="true">
                        <use xlink:href="#icon-kongxingou"></use>
                    </svg>
                </div>
                <label class="biezhu_item">不希望以下企业看到我（最多添加5个）</label>
            </div>
            <div class="select_item1 dedail_con" {if $resume['display']==3}style="display:block;"{/if}>
                <div class="radio_check checked">
                    <svg class="icon checkico" aria-hidden="true">
                        <use xlink:href="#icon-kongxingou"></use>
                    </svg>
                </div>
                <label class="biezhu_item">不希望以下企业看到我（最多添加5个）</label>
                <div class="pbbeizhu">
                    <p class="biezhus">如果不想被某企业搜到，可以设置企业黑名单。设置后，含有关该关键词的所有公司都被屏蔽掉。<br/>
                        例如：输入“大风车”，“SD大风车”、“DF大风车”，“大风车科技”等都将被屏蔽。</p>
                    <div class="input_con">
                        <div class="input_22">
                            <input class="pb_input" placeholder="请输入你想屏蔽的公司名称"/>
                        </div>
                        <div class="pbbtn">添加</div>
                        {loop array_filter(explode(",",$resume['blacklist'])) $list}
                            <p class="pb_items"><span class="blacklist">{$list}</span><label class="remove">删除</label></p>
                        {/loop}
                    </div>
                </div>
            </div>
            <div class="select_item">
                <div class="radio_check  {if $resume['display']==5}checked{/if}">
                    <svg class="icon checkico" aria-hidden="true">
                        <use xlink:href="#icon-kongxingou"></use>
                    </svg>
                </div>
                <label class="biezhu_item">投递前，所有企业都不能看到我</label>
            </div>

        </div>
        <!--隐私设置end-->
        <!--修改密码-->
        <div class="psw_con"  style="display: none;">
            <div class="top_title">修改密码</div>
            <div class="top_line"></div>
            <div class="bind_h">
                <label>登录账号：13888888888</label>
            </div>
            <div class="line_dash"></div>
            <div class="input_33">
                <input class="psw_input" id="pswnum" type="password" placeholder="请输入当前密码" maxlength="15"/>
            </div>
            <div class="chec_tip"></div>
            <div class="input_33">
                <input class="psw_input" id="newpswnum" type="password" placeholder="请输入新的密码"  maxlength="15"/>
            </div>
            <div class="chec_tip"></div>
            <div class="input_33">
                <input class="psw_input" id="newpswnum_ch" type="password" placeholder="确认新密码"  maxlength="15"/>
            </div>
            <div class="chec_tip"></div>
            <div class="baocun changepsw">保存</div>
        </div>
        <!--修改密码end-->
    </div>
</div>


<!--解除绑定弹框-->
<div class="modalbox exitbindbox"  style="display: none;">
    <div class="modal" style="width: 430px;margin-left: -215px;height: auto">
        <p class="title_content">取消绑定</p>
        <span class="modalclose">
                <img src="{WL_URL_ARES}images/close.png"/>
            </span>
        <div class="bdresure">
            确认要解除与QQ的绑定吗？确认后将不能使用QQ登录应届僧
        </div>
        <div class="surebtns" style="margin-left: 120px;">
            <label class="surebtn guanbibox">再考虑下</label>
            <label class="exitbtn btnsure">确定取消</label>
        </div>
    </div>
</div>
<!--解除绑定弹框end-->

<!--修改密码成功弹框-->
<div class="modalbox editpswbox"  style="display: none;">
    <div class="modal" style="width: 430px;margin-left: -215px;height: auto">
        <p class="title_content">取消绑定</p>
        <span class="modalclose">
            <img src="{WL_URL_ARES}images/close.png"/>
        </span>
        <div class="bdresure textalign">
            修改密码成功，请重新登录
            <p class="tiaozhuanbz"><label class="seconds">5</label>s后跳转页面</p>
        </div>
        <div class="surebtns" style="margin-left: 150px;margin-bottom: 30px;margin-top: 20px;">
            <label class="surebtn denglu">前往登录</label>
        </div>
    </div>
</div>
<!--修改密码弹框end-->

<!--更换手机号弹框-->
<div class="modalbox changetelbox"  style="display: none;">
    <div class="modal" style="width: 496px;margin-left: -248px;height: auto">
        <p class="title_content">更换手机号</p>
        <span class="modalclose">
                <img src="{WL_URL_ARES}images/close.png"/>
            </span>
        <div class="bdresure textalign" style="width: 396px;">
            验证你的手机号，完成手机账号的绑定
        </div>
        <div class="surebtns" style="margin-bottom: 50px;margin-top: 40px;width: 360px;margin-left: 68px;">
            <div class="input_33" style="margin-top: 0px;">
                <input class="psw_input" id="mobile" type="text" placeholder="请输入需要绑定的手机号码" maxlength="11"/>
            </div>
            <div class="chec_tip"></div>
            <div class="input_33" style="margin-top: 20px;width: 210px;float:left;">
                <input class="psw_input" id="yanzhengma" style="width: 170px;" type="password" placeholder="请输入短信验证码"/>
            </div>
            <label class="yanzhengma">获取验证码</label>
            <div class="chec_tip"></div>
            <label class="surebtn telbd">完成绑定</label>
        </div>
    </div>
</div>
<!--更换手机号弹框end-->



</body>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/usersetting.js" rel="script"></script>
<script>
    $(function () {




    })
</script>
</html>