<div class="header">
    <div class="width1200" style="padding-top: 13px">
        <a href="{php echo app_url('member/index')}">
            <img style="margin-top: 6px;float: left" src="{WL_URL_ARES}images/logo.png"/>
        </a>

        <div style="display: inline-block;height: 52px;line-height: 52px"><span class="city">{if $_SESSION['city']}{$_SESSION['city']}{else}全国{/if}</span><span class="changecity">[切换]</span></div>
        <div class="menu" style="display: inline-block">
            <a href="{php echo app_url('member/index')}" {if !$_GPC['op']}class="menuactive"{/if}>首页</a>
            <a  href="{php echo app_url('member/index/search_jobs')}" {if $_GPC['op']=="search_jobs"}class="menuactive"{/if}>找工作</a>
            <a  href="#" >实习/兼职</a>
            <a  href="#" >求职保镖</a>
            <a  href="#" >职场信用</a>
            <a  href="#" >就业大数据</a>
        </div>
        <div class="login" style="display: inline-block;float: right">
            <a href="{php echo app_url('member/index/login')}">登录</a>
            <a href="{php echo app_url('member/index/register')}">注册</a>
            <!--<a href="#">企业入口</a>-->
        </div>
    </div>
</div>

<div class="indexmodal">
    <div class="indexmodalbox">
        <span class="modalclose">
            <img src="{WL_URL_ARES}images/close.png"/>
        </span>
        <div class="indexmodaltitle">
            切换城市
        </div>
        <div style="margin: 50px;margin-bottom: 40px;font-size: 16px;color: #666">
            尊敬的用户， 您当前选择的城市为 <span style="color:#7b8fc9 ">[全国]</span>，您也可以切换到以下城市
        </div>

        <div class="change_citys">
            <span>上海</span>
            <span>北京</span>
            <span>广州</span>
            <span>重庆</span>
            <span>武汉</span>
            <span>杭州</span>
            <div style="clear: both"></div>
        </div>
        <div style="text-align: center">
            其他城市请选<span class="quanguo">[全国]</span>
        </div>
        <div style="text-align: center;margin-top: 50px;margin-bottom: 30px;color: #bbb">
            城市正在开通中，敬请期待～
        </div>
    </div>
</div>

<div class="modalbox"  id="small_modalbox" style="display: none">
    <div class="small_login_msg">
        <span class="smallmodalclose">
            <img src="{WL_URL_ARES}images/close.png"/>
        </span>
        <div style="width: 360px;margin: 0 auto">

            <div class="small_title">账户登录</div>

            <label class="general-input wrap" >
                <input type="text" id="small_user_name" placeholder="请输入您的手机号码/用户名">
            </label>
            <div class="chec_tip"></div>
            <label class="general-input wrap" style="margin-top: 20px">
                <input type="password" id="small_password" placeholder="请输入密码">
            </label>
            <div class="chec_tip"></div>
            <div class="wrap small_forget">
                <label class="rember_pwd">
                    <input style="width: auto" id="rember_pwdbtn1" type="checkbox">
                    <div class="remberpwdbtn">
                        <svg class="icon">
                            <use xlink:href=""></use>
                        </svg>
                    </div>
                    记住密码
                </label>
                <a href="{php echo app_url('member/index/forget_password')}">忘记密码？</a>
            </div>
            <span class="public_bigbtn bg1aa small_login_btn" id="small_login">登录</span>
        </div>
        <div class="small_foot_btns">
            <div class="small_foot_icons">
                <a class="icons"  href="http://www.yingjieseng.com/addons/recruit/core/common/Connect2.1/example/oauth/index.php" target="_blank">
                    <svg class="icon" aria-hidden="true" style="color: #ffffff">
                        <use xlink:href="#icon-qq"></use>
                    </svg>
                </a>
                <a href="https://open.weixin.qq.com/connect/qrconnect?appid=wxd9664e4eb037a8c7&redirect_uri=http://www.yingjieseng.com/addons/recruit/core/common/weixin_sdk/callback.php&response_type=code&scope=snsapi_login#wechat_redirect" class="icons left weixin_icons">
                    <svg class="icon" style="color: #ffffff">
                        <use xlink:href="#icon-weixin"></use>
                    </svg>
                </a>
                <a class="icons" href="{$code_url}" target="_blank">
                    <svg class="icon" aria-hidden="true" style="color: #ffffff">
                        <use xlink:href="#icon-weibo"></use>
                    </svg>
                </a>
                <a  class="icons baidu_icons" data-url="{$baidu_loginUrl}" >
                    <svg class="icon" aria-hidden="true" style="color: #ffffff">
                        <use xlink:href="#icon-baidu"></use>
                    </svg>
                </a>
                <div class="small_register">
                    还没有账号：<a href="{php echo app_url('member/index/register')}"><span class="color09c">立即注册</span>
                    <svg class="icon" aria-hidden="true" style="color: #ffffff;font-size: 15px">
                        <use xlink:href="#icon-youjiantou"></use>
                    </svg></a>
                </div>
            </div>
        </div>
    </div>
</div>

{if empty($back_top)}
<div class="back_top">
    <span class="back_topbtn" style="display: none">
        <svg class="icon">
            <use xlink:href="#icon-fanhuidingbu"></use>
        </svg>
        返回顶部
    </span>
    <a href="{php echo app_url('member/index/aboutus',array('nav'=>3))}" class="talk_tome">
        <svg class="icon" style="font-size: 36px">
            <use xlink:href="#icon-fankui"></use>
        </svg>
        留言反馈
    </a>
</div>

{/if}




