<!--更换模板弹框-->
<div class="modalbox" id="modal_box" style="display: block;opacity: 0">
    <div class="modal" style="width: 980px;margin-left: -490px;top:10%;">
        <p class="title_content">选择简历模板</p>
        <span class="modalclose">
                <img src="{WL_URL_ARES}images/close.png"/>
            </span>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-id="1">
                    <div class="modal_item cur">
                        <div class="modal_title">官方版</div>
                        <div class="modal_style">
                            <img src="{WL_URL_ARES}images/modal1.png" style="width:200px; "/>
                        </div>
                        {if $resume['template_id']==1}
                            <label class="using">使用中</label>
                        {/if}
                    </div>
                </div>
                <div class="swiper-slide" data-id="2">
                    <div class="modal_item cur">
                        <div class="modal_title">吉祥橙</div>
                        <div class="modal_style">
                            <img src="{WL_URL_ARES}images/modal2.png" style="width:200px; "/>
                        </div>
                        {if $resume['template_id']==2}
                        <label class="using">使用中</label>
                        {/if}
                    </div>
                </div>
                <div class="swiper-slide" data-id="3">
                    <div class="modal_item cur">
                        <div class="modal_title">极简风</div>
                        <div class="modal_style">
                            <img src="{WL_URL_ARES}images/modal3.png" style="width:200px; "/>
                        </div>
                        {if $resume['template_id']==3}
                        <label class="using">使用中</label>
                        {/if}
                    </div>
                </div>
                <div class="swiper-slide" data-id="4">
                    <div class="modal_item cur">
                        <div class="modal_title">清新绿</div>
                        <div class="modal_style">
                            <img src="{WL_URL_ARES}images/modal4.png" style="width:200px; "/>
                        </div>
                        {if $resume['template_id']==4}
                        <label class="using">使用中</label>
                        {/if}
                    </div>
                </div>
                <div class="swiper-slide" data-id="6">
                    <div class="modal_item cur">
                        <div class="modal_title">银色灰</div>
                        <div class="modal_style">
                            <img src="{WL_URL_ARES}images/modal5.png" style="width:200px; "/>
                        </div>
                        {if $resume['template_id']==6}
                        <label class="using">使用中</label>
                        {/if}
                    </div>
                </div>
                <div class="swiper-slide" data-id="5">
                    <div class="modal_item cur">
                        <div class="modal_title">尊贵紫</div>
                        <div class="modal_style">
                            <img src="{WL_URL_ARES}images/modal6.png" style="width:200px; "/>
                        </div>
                        {if $resume['template_id']==5}
                        <label class="using">使用中</label>
                        {/if}
                    </div>
                </div>
            </div>
            <!-- 如果需要导航按钮 -->
            <div class="swiper-button-prev" id="previous">
                <svg class="icon jiantou" aria-hidden="true">
                    <use xlink:href="#icon-zuojiantouxi"></use>
                </svg>
            </div>

            <div class="swiper-button-next" id="next">
                <svg class="icon jiantou" aria-hidden="true">
                    <use xlink:href="#icon-youjiantouxi"></use>
                </svg>
            </div>
        </div>


        <div class="btns" style="margin-bottom: 50px;margin-top: 60px;">
            <button class="tijiao modal_tijiao" style="margin-left: 410px">确定使用</button>
            <span class="quxiao color_main">取消</span>
        </div>
    </div>
</div>
<!--弹框end-->