<div class="p1_right">
    <div class="tongjis">
        <div class="items1">
            <a class="number" href="{php echo app_url('person/index/send_resume')}">{php echo $person_statistics['apply_num']}</a>
            <p class="font1_zj chengxian">通过申请</p>
        </div>
        <div class="items1">
            <a class="number" href="{php echo app_url('person/index/send_resume')}">{php echo $person_statistics['interview_num']}</a>
            <p class="font1_zj chengxian">面试邀请</p>
        </div>
        <div class="items1">
            <a class="number" href="{php echo app_url('person/index/credit_evaluate')}">{$comment_num}</a>
            <p class="font1_zj chengxian">我的评价</p>
        </div>
        <div class="items1">
            <a class="number" href="{php echo app_url('person/index/credit_evaluate')}">{$reply_num}</a>
            <p class="font1_zj chengxian">收到评价</p>
        </div>
        <div class="items1">
            <a class="number" href="{php echo app_url('person/index/collection_jobs_list')}">{if $add_order_num}{$add_order_num}{else}0{/if}</a>
            <p class="font1_zj chengxian">新增订阅</p>
        </div>
        <div class="items1">
            <a class="number" href="">99+</a>
            <p class="font1_zj chengxian">我的回答</p>
        </div>
    </div>
    <div class="resume_district">
        <div class="wanzhengdu">
            <div class="jianli"><span>简历完整度：</span><span class="color_main">{php echo $resume_integrity}%</span>
                <a class="color_main resume_view" href="{php echo app_url('resume/index',array('uid'=>$_SESSION['uid']))}">预览</a>
                <a class="color_main resume_edit" href="{php echo app_url('person/resume/manage_resume')}">修改</a></div>
            <div class="jindutiao">
                <div class="jindu_con" style="width: {$resume_integrity}%"></div>
            </div>
            <form action="{php echo app_url('member/index/search_jobs')}" type="get">
                <input type="hidden" name="c" value="site">
                <input type="hidden" name="a" value="entry">
                <input type="hidden" name="m" value="recruit">
                <input type="hidden" name="do" value="member">
                <input type="hidden" name="ac" value="index">
                <input type="hidden" name="op" value="search_jobs">
                <div class="sousuo">
                    <svg class="icon icon_sousuo" aria-hidden="true">
                        <use xlink:href="#icon-sousuo"></use>
                    </svg>
                    <input type="text" class="sousuo_content font1_zj" placeholder="输入职位" style="font-size: 12px;" name="jobs_name">
                </div>
                <input type="submit" class="sousuo_btn" value="找工作">
            </form>

        </div>
    </div>
    <div class="ads">
        <div class="ads_con">
            <a class="ads1" href="">
                <span class="topnum">Top1</span>
                <div class="title">
                    <p class="title_con">IOS11更新了，给你100+个IOS11实用技巧</p>
                </div>
                <img src="{WL_URL_ARES}images/ads1.png" class="ads_pic">
            </a>
            <a class="ads2" href="">
                <span class="topnum1">Top2</span>
                <div class="title">
                    <p class="title_con">IOS11更新了，给你100+个IOS11实用技巧</p>
                </div>
                <img src="{WL_URL_ARES}images/ads2.png" class="ads_pic">
            </a>
        </div>
    </div>
</div>