
<div class="header" style="background: #ffffff">
    <div class="width1200 align_center" style="padding-top: 14px;justify-content: space-between">
        <div class="resume_btns" style="margin-left: 156px;" id="download_resume">
            <svg class="icon icon_resume" aria-hidden="true">
                <use xlink:href="#icon-xiazaijianli"></use>
            </svg>
            下载简历
        </div>
        <div class="resume_btns" id="print_resume" onclick="javascript:window.print()">
            <svg class="icon icon_resume" aria-hidden="true">
                <use xlink:href="#icon-dayinjianli"></use>
            </svg>
            打印简历
        </div>
        {if $_SESSION['uid']==$_GPC['uid']}
        <div class="resume_btns" id="change_modal">
            <svg class="icon icon_resume" aria-hidden="true">
                <use xlink:href="#icon-genghuanmoban"></use>
            </svg>
            更换模板
        </div>
        {/if}
        <div class="resume_btns" id="exit_view">
            <svg class="icon icon_resume" aria-hidden="true">
                <use xlink:href="#icon-tuichuyulan"></use>
            </svg>
            退出预览
        </div>
        <div class="genghuanbeijing">
            <span class="wenzi">更换背景</span>
            <span class="color color1"></span>
            <span class="color color2"></span>
            <span class="color color3"></span>
            <span class="color color4"></span>
        </div>
    </div>
</div>




