<div class="header">
    <div class="width1200" style="padding-top: 13px">
        <a href="{php echo app_url('member/index')}">
            <img style="margin-top: 6px;float: left" src="{WL_URL_ARES}images/logo.png"/>
        </a>
        <div style="display: inline-block;height: 52px;line-height: 52px"><span class="city">{if $_SESSION['city']}{$_SESSION['city']}{else}全国{/if}</span><span class="changecity">[切换]</span></div>
        <div class="menu" style="display: inline-block;">
            <a href="{php echo app_url('member/index')}" {if !$_GPC['op']}class="menuactive"{/if}>首页</a>
            <a  href="{php echo app_url('member/index/search_jobs')}" {if $_GPC['op']=="search_jobs"}class="menuactive"{/if}>找工作</a>
            <a  href="{php echo app_url('member/index/super_company_list')}" {if $_GPC['op']=="super_company_list"}class="menuactive"{/if}>名企招聘</a>
            <a  href="#">现场招聘会</a>
            <a  href="#">职场导师</a>
            <a  href="#">活动</a>
        </div>
        <div class="login relative" style="display: inline-block;float: right">
            <span class="relative personal_msgbtn">
                <div class="login_header">
                    {if $portrait['headimgurl']}
                    <img src="{$portrait['headimgurl']}" alt="">
                    {else}
                    <svg class="icon">
                        <use xlink:href="#icon-xuesheng"></use>
                    </svg>
                    {/if}
                </div>
                <span class="login_username color666">{$user['mobile']}</span>
                <!--{if $interview_num }-->
                <!--<span class="red_circular"></span>-->
                <!--{/if}-->
                <svg class="icon" style="margin-left:10px">
                    <use xlink:href="#icon-xiala"></use>
                </svg>
            </span>
            <!--<a href="{php echo app_url('person/index/send_resume')}">求职者入口</a>-->


            <div class="personal_msgs" id="personal_msgs">
                <a href="{php echo app_url('person/index/user_center')}">个人中心</a>
                <!--<a href="{php echo app_url('person/index/person_msg')}">消息中心</a>-->
                <a href="{php echo app_url('person/index/send_resume')}">投递记录</a>
                <!--<a href="{php echo app_url('person/index/send_resume',array('kind'=>'interview'))}">面试邀请{if $interview_num}<span class="rednum">{$interview_num}</span>{/if}</a>-->
                <a href="{php echo app_url('person/index/send_resume',array('kind'=>'interview'))}">面试邀请</a>
                <a href="{php echo app_url('member/index/usersetting')}">账号设置</a>
                <a href="{php echo app_url('member/index/login_out')}">退出</a>
            </div>

        </div>
    </div>
</div>

<div class="indexmodal">
    <div class="indexmodalbox">
        <span class="modalclose">
            <img src="{WL_URL_ARES}images/close.png"/>
        </span>
        <div class="indexmodaltitle">
            切换城市
        </div>
        <div style="margin: 50px;margin-bottom: 40px;font-size: 16px;color: #666">
            尊敬的用户， 您当前选择的城市为 <span style="color:#7b8fc9 " class="current_city">[{if $_SESSION['city']}{$_SESSION['city']}{else}全国{/if}]</span>，您也可以切换到以下城市
        </div>

        <div class="change_citys">
            <span>上海</span>
            <span>北京</span>
            <span>广州</span>
            <span>重庆</span>
            <span>武汉</span>
            <span>杭州</span>
            <div style="clear: both"></div>
        </div>
        <div style="text-align: center">
            其他城市请选<span class="quanguo">[全国]</span>
        </div>
        <div style="text-align: center;margin-top: 50px;margin-bottom: 30px;color: #bbb">
            城市正在开通中，敬请期待～
        </div>
    </div>
</div>

{if empty($back_top)}
<div class="back_top">
    <span class="back_topbtn" style="display: none">
        <svg class="icon">
            <use xlink:href="#icon-fanhuidingbu"></use>
        </svg>
        返回顶部
    </span>
    <a href="#" class="talk_tome">
        <svg class="icon" style="font-size: 36px">
            <use xlink:href="#icon-fankui"></use>
        </svg>
        留言反馈
    </a>
</div>
{/if}