.p1_left{
    background: #ffffff;
}
.con_list{
    width: 670px;
    margin-left: 100px;
}
.top_news{
    width: 100%;
    margin-top: 70px;
    height: auto;
    line-height: 48px;
    color: #333333;
    font-size: 28px;
}
.fu_topnews{
    margin-top: 15px;
    color: #999999;
    font-size: 14px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eeeeee;
}
.fu_icos{
    margin-right: 30px;
}
.gonggao:hover{
    color: #0099cc;
}

.fu_icos .icon{
    margin-right: 12px;
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}
.news_content{
    color: #333333;
    line-height: 30px;
    font-size: 16px;
    margin-top: 30px;
}
.part_two{
    margin-top: 40px;
}
.news_pic{
    width: 100%;
    margin-top: 40px;
}
.xiangguan{
    height: 40px;
    width: 100%;
    color: #333333;
    font-size: 20px;
    border-bottom: 1px solid #eeeeee;
}
.xg_title{
    display: inline-block;
    height: 39px;
    border-bottom: 2px solid #0099cc;
}
.xg_lists{
    margin-top: 30px;
    font-size: 18px;
    color: #333333;
}
.xg_titles{
    margin-top: 20px;
    display: block;
    width: 100%;
}
.xg_titles:hover{
    color: #0099cc;
}
.fu_icos_right{
    float: right;
    color: #0099cc;
    cursor: pointer;
    font-size: 16px;
}
.pingpluqu1{
    position: relative;
    width: 310px;
    background: #ffffff;
    height: auto;
}
.close_kuang{
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    background: #ffffff;
    z-index: 999;
}
.close_ico{
    width: 12px;
    height: 12px;
    margin: 9px 9px;
}
.youhuashuo{
    position: absolute;
    display: inline-block;
    left: 110px;
    top: 30px;
}
.touxiang{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    border-radius: 100%;
    overflow: hidden;
    background: #e7eef0;
}
.touxiang .icon{
    width: 80px;
    height: 80px;
    margin: 10px;
}
.icos_btns,.icos_btns1{
   margin-top: 16px;
    text-align: center;
    padding-bottom: 30px;
    color: #999999;

}
.denglu,.zhuce{
    cursor: pointer;
    width: 78px;
    height: 34px;
    display: inline-block;
    background: #0099cc;
    color: #fff;
    line-height: 36px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid #0099cc;
}
.zhuce{
    cursor: pointer;
    background: none;
    border: 1px solid #0099cc;
    color: #0099cc;
}
.zhuce:hover{
    color: #ffffff;
    background: #0099cc;
}
.text_area_pl,.text_area_pl1,.text_area_pl_bo{
    width: 248px;
    height: 128px;
    border: 1px solid #eeeeee;
    margin: 0 auto;
    position: relative;
    background: #f5f5f5;
}
.text_area_pl1{
    height: 70px;
    margin-top: 20px;
}
.text_area_pl:before{
    content: "";
    position: absolute;
    top:-10px;
    left: 120px;
    z-index: 999;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:10px solid #eeeeee;

}
.text_area_pl_bo:before{
    content: "";
    position: absolute;
    top:-10px;
    left: 120px;
    z-index: 999;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:10px solid #0099cc;
}
.text_area_pl:after{
    content: "";
    position: absolute;
    top:-9px;
    left: 120px;
    z-index: 999;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:10px solid #f5f5f5;
}
.shuru_text,.shuru_text1{
    width: 228px;
    height: 108px;
    resize: none;
    border: none;
    outline: none;
    padding: 10px 10px;
    background: none;
}
.shuru_text1{
    height: 68px;
}
.fabupjbtn,.fabupjbtn1{
    width: 250px;
    height: 36px;
    background: #0099cc;
    color: #ffffff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 30px;
}
.pinglu_title{
    height: 30px;
    width: 250px;
    margin: 0 auto;
    border-bottom: 1px solid #eeeeee;
}
.pl_total{
    color: #e23d46;
}
.huanyipi,.shuaxin{
    float: right;
    color: #8590a6;
    cursor: pointer;
}
.pinglun_item{
    width: 250px;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed #eeeeee;
}
.touxiang_pl{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
}
.pl_user{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    margin-left: 16px;
    color: #0099cc;
}
.pinglunneir{
    width: 100%;
    height: auto;
    max-height: 72px;
    overflow: hidden;
    line-height: 24px;
    color: #999999;
    margin-top: 24px;
    position: relative;
}
.jubao_btn{
    cursor: pointer;
}
.pinglunzi{
    color: #666666;
}
.plhuifu .pinglunzi{
    color: #999999;
}
.plhuifu{
    font-size: 12px;
}
.btn_zk,.btn_sq{
    position: absolute;
    bottom: 0;right: 0;
    color: #8590a6;
    cursor: pointer;
    background: #ffffff;
    display: inline-block;
    padding-left: 20px;
}
.pl_status{
    margin-top: 15px;
}
.time_pl{
    color: #bbbbbb;
}
.time_pler{
    display: inline-block;
    width: 200px;
    text-align: right; color: #bbbbbb;
}
.ico_plbtn{
    float: right;
    color: #7b8fc9;
}
.ico_plbtn span{
    margin-left: 20px;
    cursor: pointer;
}
.font12{
    font-size: 12px;
}
.user_name{
    color: #0099cc;
}
.user_exit{
    margin-top: 10px;
}
.beizhu_pl{
    color: #666666;
    margin-right: 16px;
}
.xialazk{
    text-align: center;
    color: #999999;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.xialazk .icon{
    margin-left: 10px;
}
.cwftextarea {
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    outline: none;
    resize: none;
    background-color: #f5f5f5;
}