

@media print {
    body { color: #000; background: #fff; }
    .header{
        display: none;
    }
    .width1200{
        width: 100%;
    }
    .preview .p1_left{
        float: left;
    }
    .resume_video{
        display: none;
    }
    .preview .con_list{
        margin-top: 0px;
    }

}