<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/agreement.css" rel="stylesheet">
    <title>应届僧帐号服务条款</title>
</head>
<body>
{if $_SESSION['utype']==1}
{php include wl_template('common/top');}
{elseif $_SESSION['utype']==2}
{php include wl_template('common/company_top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="width1200">
    <div class="agreementbox">
        <div class="agreementtitle">应届僧帐号服务条款</div>

        <div class="agreementcontent">
            欢迎申请使用应届僧网站提供的服务。请您（以下简称为“用户”）仔细阅读以下全部内容。如用户不同意本服务条款任意内容，请勿注册或使用应届僧服务。如用户通过进入注册程序并勾选“我同意应届僧帐号服务条款”，即表示用户与应届僧网站已达成协议，自愿接受本服务条款的所有内容。此后，用户不得以未阅读本服务条款内容作任何形式的抗辩。
        </div>

        <div class="agreementname">一、应届僧帐号注册规则</div>

        <div class="agreementcontent">
            用户在使用本服务前，个人用户需要使用自己常用的手机号码进行注册，并将其作为“应届僧”帐号。企业用户需要使用公司的联系人手机号码进行注册，并按指引提交企业营业执照及组织机构代码等资质文件。企业用户应保证注册行为已得到有效授权。上述邮箱与手机号码经过验证后，可以使用“应届僧”对应帐号的全部功能。应届僧可以根据用户需求或产品需要对帐号注册和绑定的方式进行变更，而无须事先通知用户；<br/>
            若用户提供给应届僧的帐号注册资料不准确，不真实，含有违法或不良信息的，应届僧有权不予注册，并保留终止用户使用应届僧各项服务的权利。若用户以虚假信息骗取帐号注册或帐号头像、个人简介等注册资料存在违法和不良信息的，应届僧有权采取通知限期改正、暂停使用、注销登记等措施。对于冒用关联机构或社会名人注册帐号名称的，应届僧有权注销该帐号，并向政府主管部门进行报告。<br/>
            用户在注册应届僧帐号时承诺遵守法律法规、社会主义制度、国家利益、公民合法权益、公共秩序、社会道德风尚和信息真实性等七条底线，不得在应届僧帐号注册资料中出现违法和不良信息。<br/>
            根据相关法律、法规规定以及考虑到应届僧产品服务的重要性，用户同意：<br/>
            用户同意，其提供的真实、准确、合法的应届僧帐号注册资料是作为认定用户与其应届僧帐号的关联性以及用户身份的唯一证据。用户在享用应届僧各项服务的同时，同意接受应届僧提供的各类信息服务。应届僧提醒用户，用户注册应届僧帐号或更新注册信息时填写的证件号码，在注册应届僧帐号成功或补充填写后将无法进行修改，请用户慎重填写各类注册信息。<br/>
            为使用户及时、全面了解应届僧提供的各项服务，用户同意，应届僧可以多次、长期向用户发送各类商业性短信息而无需另行获得用户的同意。<br/>
            用户同意与注册、使用应届僧帐号相关的一切资料、数据和记录，包括但不限于应届僧帐号、注册资料、所有登录、消费记录和相关的使用统计数字等归应届僧所有。发生争议时，用户同意以应届僧的系统数据为准，应届僧保证该数据的真实性。<br/>
            尽管有前述约定，对于用户使用应届僧帐号享受应届僧旗下单项服务时产生的一切数据，包括但不限于产品登录记录、消费记录及其他产品日志、产品客户服务记录、用户在产品中创造的社会网络内容等，归具体产品运营主体所有。发生争议时，用户同意以具体产品运营主体的系统数据为准。但是如果单项条款存在与前述不同的约定，则以单项条款约定为准。
        </div>


        <div class="agreementname">二、服务条款的修改</div>

        <div class="agreementcontent">
            在必要时应届僧存在修改本协议内容的可能性，并以电子邮件、手机短信、微信服务号消息、网页通知、公告或其它适当方法通知, 该等通知于发送之日视为已送达收件人。如果您不同意本协议修改后的内容，应通知应届僧网站，则您将不再受本协议的约束，您所享有的用户资格将中止；如果您继续使用应届僧网站，将被视为同意协议修改后的内容。
        </div>


        <div class="agreementname">三、服务的变更或中止</div>
        <div class="agreementcontent">
            应届僧始终在不断变更和改进服务。应届僧可能会增加或删除功能，也可能暂停或彻底停止某项服务。用户同意应届僧有权行使上述权利且不需对用户或第三方承担任何责任。        </div>

        <div class="agreementname">四、用户隐私制度</div>
        <div class="agreementcontent">
            尊重用户个人隐私信息的私有性是应届僧的一贯制度，应届僧将采取技术措施和其他必要措施，确保用户个人隐私信息安全，防止在本服务中收集的用户个人隐私信息泄露、毁损或丢失。在发生前述情形或者应届僧发现存在发生前述情形的可能时，将及时采取补救措施；<br/>
            应届僧未经用户同意不向任何第三方公开、 透露用户个人隐私信息。但以下特定情形除外：<br/>
            (1) 应届僧根据法律法规规定或有权机关的指示提供用户的个人隐私信息；<br/>
            (2) 由于用户将其用户密码告知他人或与他人共享注册帐户与密码，由此导致的任何个人信息的泄漏，或其他非因应届僧原因导致的个人隐私信息的泄露；<br/>
            (3) 用户自行向第三方公开其个人隐私信息；<br/>
            (4) 用户与应届僧及合作单位之间就用户个人隐私信息的使用公开达成约定，应届僧因此向合作单位公开用户个人隐私信息；<br/>
            (5) 任何由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致用户个人隐私信息的泄露。<br/>
            用户同意应届僧可在以下事项中使用用户的个人隐私信息：<br/>
            (1) 应届僧向用户及时发送重要通知，如软件更新、本协议条款的变更；<br/>
            (2) 应届僧内部进行审计、数据分析和研究等，以改进应届僧的产品、服务和与用户之间的沟通；<br/>
            (3) 依本协议约定，应届僧管理、审查用户信息及进行处理措施；<br/>
            (4) 适用法律法规规定的其他事项。<br/>
            (5) 为了改善应届僧的技术和服务，向用户提供更好的服务体验，应届僧或可会自行收集使用或向第三方提供用户的非个人隐私信息。<br/>
            除上述事项外，如未取得用户事先同意，应届僧不会将用户个人隐私信息使用于任何其他用途。
        </div>


        <div class="agreementname">五、内容规范</div>
        <div class="agreementcontent">
            用户独立承担其发布内容的责任。用户对服务的使用必须遵守所有适用于服务的地方法律、国家法律和国际法律。用户承诺：<br/>
            (1)用户在应届僧的网页上发布信息或者利用应届僧的服务时必须符合中国有关法规，不得在应届僧的网页上或者利用应届僧的服务制作、复制、发布、传播以下信息：<br/>
            (a) 违反宪法确定的基本原则的；<br/>
            (b) 危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br/>
            (c) 损害国家荣誉和利益的；<br/>
            (d) 煽动民族仇恨、民族歧视，破坏民族团结的；<br/>
            (e) 破坏国家宗教政策，宣扬邪教和封建迷信的；<br/>
            (f) 散布谣言，扰乱社会秩序，破坏社会稳定的；<br/>
            (g) 散布淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；<br/>
            (h) 侮辱或者诽谤他人，侵害他人合法权益的；<br/>
            (i) 煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；<br/>
            (j) 以非法民间组织名义活动的；<br/>
            (k) 含有法律、行政法规禁止的其他内容的。<br/>
            (2)用户在应届僧的网页上发布信息或者利用应届僧的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。用户需遵守法律法规的规定使用应届僧服务。<br/>
            (3)用户不得利用应届僧的服务从事以下活动：<br/>
            (a) 未经允许，进入计算机信息网络或者使用计算机信息网络资源的；<br/>
            (b) 未经允许，对计算机信息网络功能进行删除、修改或者增加的；<br/>
            (c) 未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；<br/>
            (d) 故意制作、传播计算机病毒等破坏性程序的；<br/>
            (e) 其他危害计算机信息网络安全的行为。<br/>
            (4)用户不得利用“应届僧”帐号或本服务制作、上载、复制、发布、传播如下干扰“应届僧”正常运营，以及侵犯其他用户或第三方合法权益的内容：<br/>
            (a) 含有任何性或性暗示的；<br/>
            (b) 含有辱骂、恐吓、威胁内容的；<br/>
            (c) 含有骚扰、垃圾广告、恶意信息、诱骗信息的；<br/>
            (d) 涉及他人隐私、个人信息或资料的；<br/>
            (e) 侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；<br/>
            (f) 含有其他干扰本服务正常运营和侵犯其他用户或第三方合法权益内容的信息。<br/>
            (5)用户应遵守应届僧的所有其他规定和程序。<br/>
            用户须对自己在使用应届僧服务过程中的行为承担法律责任。用户承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在应届僧首先承担了因用户行为导致的行政处罚或侵权损害赔偿责任后，用户应给予应届僧等额的赔偿。若用户违反以上规定，应届僧有权作出独立判断立即暂停或终止对用户提供部分或全部服务，包括锁定、注销、删除用户应届僧帐号等措施。用户理解，如果应届僧发现其网站传输的信息明显属于上段第(1)条所列内容之一，依据中国法律，应届僧有义务立即停止传输，保存有关记录，向国家有关机关报告，并且删除含有该内容的地址、目录或关闭服务器。
        </div>

        <div class="agreementname">六、使用规则</div>
        <div class="agreementcontent">
            (1)用户在本服务中或通过本服务所传送、发布的任何内容并不反映或代表，也不得被视为反映或代表应届僧的观点、立场或政策，应届僧对此不承担任何责任；<br/>
            (2)用户不得利用“应届僧”帐号或本服务进行如下行为：<br/>
            (a) 提交、发布虚假信息，或盗用他人头像或资料，冒充、利用他人名义的；<br/>
            (b) 强制、诱导其他用户关注、点击链接页面或分享信息的；<br/>
            (c) 虚构事实、隐瞒真相以误导、欺骗他人的；<br/>
            (d) 利用技术手段批量建立虚假帐号的；<br/>
            (e) 利用“应届僧”帐号或本服务从事任何违法犯罪活动的；<br/>
            (f) 制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；<br/>
            (g) 其他违反法律法规规定、侵犯其他用户合法权益、干扰“应届僧”正常运营或应届僧未明示授权的行为。<br/>
            (3)用户须对利用“应届僧”帐号或本服务传送信息的真实性、合法性、无害性、准确性、有效性等全权负责，与用户所传播的信息相关的任何法律责任由用户自行承担，与应届僧无关。如因此给应届僧或第三方造成损害的，用户应当依法予以赔偿；<br/>
            (4)应届僧提供的服务中可能包括广告，用户同意在使用过程中显示应届僧和第三方供应商、合作伙伴提供的广告。除法律法规明确规定外，用户应自行对该广告信息进行的交易负责，对用户因该广告信息进行的交易或前述广告商提供的内容而遭受的损失或损害，应届僧不承担任何责任。
        </div>

        <div class="agreementname">七、账号管理</div>
        <div class="agreementcontent">
            (1)“应届僧”帐号的所有权归应届僧所有，用户完成申请注册手续后，获得“应届僧”帐号的使用权，该使用权仅属于初始申请注册人，禁止赠与、借用、租用、转让或售卖。应届僧因经营需要，有权回收用户的“应届僧”帐号；<br/>
            (2)用户可以更改、删除“应届僧”帐户上的个人资料、注册信息及传送内容等，但需注意，删除有关信息的同时也会删除用户储存在系统中的文字和图片。用户需承担该风险；<br/>
            (3)用户有责任妥善保管注册帐号信息及帐号密码的安全，因用户保管不善可能导致遭受盗号或密码失窃，责任由用户自行承担。用户需要对注册帐号以及密码下的行为承担法律责任。用户同意在任何情况下不使用其他用户的帐号或密码。在用户怀疑他人使用其帐号或密码时，用户同意立即通知应届僧；<br/>
            (4)用户应遵守本协议的各项条款，正确、适当地使用本服务，如因用户违反本协议中的任何条款，应届僧有权依据协议中断或终止对违约用户“应届僧”帐号提供服务。同时，应届僧保留在任何时候收回“应届僧”帐号、用户名的权利；<br/>
            (5)如用户注册“应届僧”帐号后一年不登录，应届僧可以收回该帐号，以免造成资源浪费，由此造成的不利后果由用户自行承担。
        </div>

        <div class="agreementname">八、风险承担</div>
        <div class="agreementcontent">
            用户理解并同意，“应届僧”仅为用户提供信息分享、传送及获取的平台，用户必须为自己注册帐号下的一切行为负责，包括用户所传送的任何内容以及由此产生的任何后果。用户应对“应届僧”及本服务中的内容自行加以判断，并承担因使用内容而引起的所有风险，包括因对内容的正确性、完整性或实用性的依赖而产生的风险。应届僧无法且不会对因用户行为而导致的任何损失或损害承担责任。 如果用户发现任何人违反本协议约定或以其他不当的方式使用本服务，请立即向应届僧举报或投诉，应届僧将依本协议约定进行处理；        </div>

        <div class="agreementname">九、内容、商标的所有权</div>
        <div class="agreementcontent">
            (1)除本服务中涉及广告的知识产权由相应广告商享有外，应届僧在本服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权均归应届僧所有，但用户在使用本服务前对自己发布的内容已合法取得知识产权的除外；<br/>
            (2)除另有特别声明外，应届僧提供本服务时所依托软件的著作权、专利权及其他知识产权均归应届僧所有；<br/>
            (3)应届僧在本服务中所涉及的图形、文字或其组成，以及其他应届僧标志及产品、服务名称（以下统称“应届僧标识”），其著作权或商标权归应届僧所有。未经应届僧事先书面同意，用户不得将应届僧标识以任何方式展示、使用或作其他处理，也不得向他人表明用户有权展示、使用、或其他有权处理应届僧标识的行为；<br/>
            (4)上述及其他任何应届僧或相关广告商依法拥有的知识产权均受到法律保护，未经应届僧或相关广告商书面许可，用户不得以任何形式进行使用或创造相关衍生作品。
        </div>

        <div class="agreementname">十、法律</div>
        <div class="agreementcontent">
            本条款适用中华人民共和国的法律，并且排除一切冲突法规定的适用。<br/>
            如出现纠纷，用户和应届僧一致同意将纠纷交由本协议签订地有管辖权人民法院受理。本协议签订地为重庆市沙坪坝区。若单项条款与本服务条款在管辖约定内容上存在冲突，则在单项条款约束范围内应以单项条款为准。
        </div>

        <div class="agreementname">十一、信息储存及相关知识产权</div>
        <div class="agreementcontent">
            (1)应届僧不对用户在本服务中相关数据的删除或储存失败负责；<br/>
            (2)应届僧可以根据实际情况自行决定用户在本服务中数据的最长储存期限，并在服务器上为其分配数据最大存储空间等。用户可根据自己的需要自行备份本服务中的相关数据；<br/>
            (3)如用户停止使用本服务或本服务终止，应届僧可以从服务器上永久地删除用户的数据。本服务停止、终止后，应届僧没有义务向用户返还任何数据。<br/>
        </div>


        <div class="agreementname">十二、不可抗力条款及其他</div>
        <div class="agreementcontent">
            应届僧对不可抗力导致的损失不承担责任。本服务条款所指不可抗力包括：天灾、法律法规或政府指令的变更，因网络服务特性而特有的原因，例如境内外基础电信运营商的故障、计算机或互联网相关技术缺陷、互联网覆盖范围限制、计算机病毒、黑客攻击等因素，及其他合法范围内的不能预见、不能避免并不能克服的客观情况。<br/>
            应届僧不行使、未能及时行使或者未充分行使本条款或者按照法律规定所享有的权利，不应被视为放弃该权利，也不影响应届僧在将来行使该权利。<br/>
            如本条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本服务条款的其余条款仍应有效且具有约束力，应届僧及用户均应尽力使该条款设定的本意得到实现。<br/>
            本条款中的标题仅为方便查阅而设，不作为解释本条款的依据。
        </div>


        <div class="agreementtel">
            如用户对本条款内容有任何疑问，请登录获取相关信息或拨打应届僧客服电话023-88597927。
        </div>
</div>
</div>



</body>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.cookie.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
</html>