{template 'common/header'}


<ul class="nav nav-tabs">
    <li {if $_GPC['do']=='star_hr' && $action == 'index'}class="active"{/if}><a href="{php echo web_url('star_hr/index')}">名企列表</a></li>
    <li {if $_GPC['do']=='star_hr' && $action == 'detail'}class="active"{/if} ><a href="{php echo web_url('star_hr/detail')}">添加名企</a></li>
</ul>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            添加名企
        </h3>
    </div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data" id="form1">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span style="color: red">*  </span>企业名称</label>
                <div class="col-sm-10">
                    <input type="text"  name="companyname" style="width:50%"  class="form-control" value="{$list['companyname']}" placeholder="请输入公司名称"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span style="color: red">*  </span>所属行业</label>
                <div class="col-sm-5">
                    <input type="text"  name="industry"  class="form-control" value="{$list['industry']}" placeholder="请输入tag"/>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label"><span style="color: red">*  </span>企业规模</label>
                <div class="col-sm-5">
                    <input type="text"  name="number" class="form-control" value="{$list['number']}" placeholder="请选择企业规模"/>
                </div>
            </div>


            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label"><span style="color: red">*  </span>企业logo</label>
                <div class="col-sm-5">
                    {php echo tpl_form_field_image('headimgurl', $list['headimgurl']);}
                    <span class="help-block">点击后显示的企业logo，推荐与参数设置中的logo一致。</span>
                </div>

            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3 col-md-2 control-label">企业图集</label>
                <div class="col-sm-7 col-xs-12">
                    {php echo tpl_form_field_multi_image('photolist', $list['photolist']);}
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">公司简介:</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('introduce',$list['introduce'])}
                    <span class="help-block">用简短对企业情况进行介绍，最多300字</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">校招流程:</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('school_process',$list['school_process'])}
                    <span class="help-block">用简短对企业情况进行介绍，最多300字</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">培训计划:</label>
                <div class="col-sm-8">
                    {php echo tpl_ueditor('training_plan',$list['training_plan'])}
                    <span class="help-block">用简短对企业情况进行介绍，最多300字</span>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">核心理念</label>
                <div class="col-sm-10">
                    <textarea name="core_idea" rows="4"  cols="60"  id="core_idea" class="form-control">{php echo  $list['core_idea'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">企业愿景</label>
                <div class="col-sm-10">
                    <textarea name="vision" rows="4"  cols="60"  id="vision" class="form-control">{php echo  $list['vision'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">用人理念</label>
                <div class="col-sm-10">
                    <textarea name="human_concept" rows="4"  cols="60"  id="human_concept" class="form-control">{php echo  $list['human_concept'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">企业使命</label>
                <div class="col-sm-10">
                    <textarea name="mission" rows="4"  cols="60"  id="mission" class="form-control">{php echo  $list['mission'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">经营理念</label>
                <div class="col-sm-10">
                    <textarea name="management_idea" rows="4"  cols="60"  id="management_idea" class="form-control">{php echo  $list['management_idea'] }</textarea>
                </div>
            </div>


            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">文化理念</label>
                <div class="col-sm-10">
                    <textarea name="cultural_idea" rows="4"  cols="60"  id="cultural_idea" class="form-control">{php echo  $list['cultural_idea'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">发展战略:</label>
                <div class="col-sm-10">
                    <textarea name="development_strategy" rows="4"  cols="20"  id="development_strategy" class="form-control">{php echo  $list['development_strategy'] }</textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">未来十年:</label>
                <div class="col-sm-10">
                    <textarea name="ten_year" rows="4"  cols="20"  id="ten_year" class="form-control">{php echo  $list['ten_year'] }</textarea>
                </div>
            </div>

            <div class="form-group col-sm-6 ">
                <input name="token" type="hidden" value="edit" />
                <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" style="float: right;" />
            </div>

        </form>
    </div>
</div>

<script>
    $(function(){
        $('#form1').submit(function(){
            if(!$.trim($(':text[name="companyname"]').val())) {
                util.message('请填写公司名称', '', 'error');
                return false;
            }
            if(!$.trim($(':text[name="industry"]').val())) {
                util.message('请填写新闻标题', '', 'error');
                return false;
            }
//            if(!$.trim($('#cateid').val())) {
//                util.message('请选择新闻分类', '', 'error');
//                return false;
//            }
//            if(!$.trim($('textarea[name="content"]').val())) {
//                util.message('请填写新闻内容', '', 'error');
//                return false;
//            }
            return true;
        });
    });
</script>

{template 'common/footer'}