{php include template('common/header');}
<ul class="nav nav-tabs">
	<li {if $_GPC['do']=='star_jobs' && $action == 'index'}class="active"{/if}><a href="{php echo web_url('star_jobs/index',array('uid'=>$_GPC['uid']))}">名企职位列表</a></li>
	<li {if $_GPC['do']=='star_jobs' && $action == 'detail'}class="active"{/if} ><a href="{php echo web_url('star_jobs/detail',array('uid'=>$_GPC['uid']))}">添加职位</a></li>
</ul>

<div class="panel panel-default">
	<div class="table-responsive panel-body">

		<form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
			<table class="table table-hover">
				<thead class="navbar-inner">
				<tr>
					<th style="width:5%;">id</th>
					<th style="width:15%;">职位名称</th>
					<th style="width:15%;">工作地</th>
					<!--<th style="width:10%;">岗位职责</th>-->
					<!--<th style="width:10%;">岗位要求</th>-->
					<!--<th style="width:10%;">专业要求</th>-->
					<th style="width:10%;">注册时间</th>
					<th style="width:40%;text-align: center;" >操作</th>
				</tr>
				</thead>
				<tbody>
				{loop $lists $list}
				<tr>
					<td>
						{$list['id']}
					</td>
					<td>
						{$list['jobs_name']}
					</td>
					<td>
						{$list['work_place']}
					</td>
					<td>{php echo date('Y-m-d',$list['createtime'])}</td>
					<td style="text-align: center;">
						<a href="{php echo web_url('star_jobs/detail',array('jobs_id'=>$list['id'],'uid'=>$list['uid']))}" title="编辑" class="btn btn-default btn-sm"><i class="fa fa-edit"></i>
							编辑</a>
						<a href="{php echo $this->createWebUrl('activity', array('dopost' => 'delete','id' => $list['id']))}" onclick="return confirm('确认删除此活动信息吗？');return false;" title="删除" class="btn btn-default btn-sm"><i class="icon-remove"></i>
							删除</a>
					</td>
				</tr>
				{/loop}
				</tbody>
			</table>
			{$pager}
		</form>
	</div>
</div>

{php include template('common/footer');}
