<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/credit_evaluate.css" rel="stylesheet">
    <title>职场信用-收到评价</title>
</head>
<body bgcolor="#f4f4f4">
{if $_SESSION['uid']}
{php include wl_template('common/top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="width1200 p1content">
    {php include wl_template('common/person_nav');}
    <div class="p1_left">
        <div class="con_list">
            <div class="list_top">
                <div class="list_item_btn select" >待评价</div>
                <div class="list_item_btn" style="margin-left: 2px">收到的评价</div>
            </div>
            <!--待评价start------------------------------------------------------------------------------->
            <div class="lists list_content">
            {if $agree_jobs}
                {loop $agree_jobs $list}
                {if empty($list['comment'])}
                <div class="item_conpj" data-id="{$list['apply_id']}">
                    <div class="item_conpj1">
                        <div class="">
                            <a class="jobname linkhover" href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$list['id']))}">{$list['jobs_name']}</a>
                            <a class="companyname comhover" href="{php echo app_url('member/index/company_detail',array('company_id'=>$list['uid']))}">{$list['companyname']}</a>
                            <span class="icos_jubao" data-id="{$list['company_uid']}">
                                <label class="com_ico jubaoms" data-id="{$list['id']}">
                                    <svg class="icon fexico">
                                        <use  xlink:href="#icon-tishi"></use>
                                    </svg>举报
                                </label>
                                <label class="com_ico weicanjia">未参加</label>
                            </span>
                        </div>
                        <div class="hang_pj">
                            <span class="one_xing xinxi">
                                <label class="pingjiabz">信息真实:</label>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                            </span>
                            <span class="one_xing huanjing">
                                <label class="pingjiabz">公司环境:</label>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                            </span>
                            <span class="one_xing hrmianshi">
                                <label class="pingjiabz">面试官:</label>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                                <svg class="icon xingxing">
                                    <use  xlink:href="#icon-pingfenbanfen"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="biaoqianxuanze"></div>
                        <div class="hang_pj bg_con" style="margin-top: 10px">
                            <label class="biaoqiantt">选择标签：</label>
                            <label class="biaoqians">
                                {loop explode(",",$list['tag']) $id $li}
                                <span class="onebq" flag="0">{$li}</span>
                                {/loop}
                            </label>
                            <label class="bqmorebtn gengduo">
                                更多标签
                                <svg class="icon" style="">
                                    <use xlink:href="#icon-xiajiantou"></use>
                                </svg>
                            </label>
                            <div class="morebiaoqian">
                                <div class="biaoqian_con">
                                    <div class="changebq">
                                        <svg class="icon" style="">
                                            <use xlink:href="#icon-huanyipi"></use>
                                        </svg>
                                        换一批
                                    </div>
                                    <label class="biaoqians">
                                        <span  class="onebq tjbq" flag="0">五险</span>
                                        <span  class="onebq tjbq" flag="0">住房公积金</span>
                                        <span  class="onebq tjbq" flag="0">带薪年假</span>
                                        <span  class="onebq tjbq" flag="0">绩效奖金</span>
                                        <span  class="onebq tjbq" flag="0">内部培训</span>
                                        <span  class="onebq tjbq" flag="0">年终奖</span>
                                        <span  class="onebq tjbq" flag="0">晋升平台</span>
                                        <span  class="onebq tjbq" flag="0">有偿加班</span>
                                        <span  class="onebq tjbq" flag="0">股权奖励</span>
                                        <span  class="onebq tjbq" flag="0">交通补贴</span>

                                    </label>
                                    <div class="zidingyibq">
                                        <div class="inputbox">
                                            <input type="text" class="bqzidingyi" placeholder="输入8字以内标签" maxlength="8">
                                        </div>
                                        <div class="tijiao1 btntj">添加</div>
                                        <label class="tishibq">最多可添加5个标签</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="hang_pj" style="font-size: 16px;">面试经过:</div>
                        <div class="textareacon">
                            <textarea class="plarea" placeholder="请输入面试内容"></textarea>
                        </div>
                        <div class="pjxingxing" style="margin-top: 30px;width: 100%" value="0">
                            <!--<div class="one_pj">-->
                                <!--<div class="checkbox">-->
                                    <!--<svg class="icon iconfont color1aa ico_right">-->
                                        <!--<use xlink:href="#icon-zhengque1"></use>-->
                                    <!--</svg>-->
                                <!--</div>-->
                                <!--<svg class="icon flover_ico red_i">-->
                                    <!--<use xlink:href="#icon-haoping"></use>-->
                                <!--</svg>-->
                                <!--<label>好评</label>-->
                            <!--</div>-->
                            <!--<div class="one_pj">-->
                                <!--<div class="checkbox"></div>-->
                                <!--<svg class="icon flover_ico gree_i">-->
                                    <!--<use xlink:href="#icon-zhongping"></use>-->
                                <!--</svg>-->
                                <!--<label>中评</label>-->
                            <!--</div>-->
                            <!--<div class="one_pj">-->
                                <!--<div class="checkbox">-->
                                <!--</div>-->
                                <!--<svg class="icon flover_ico grey_i">-->
                                    <!--<use xlink:href="#icon-chaping"></use>-->
                                <!--</svg>-->
                                <!--<label>差评</label>-->
                            <!--</div>-->
                            <div class="tijiao1 pjtjbtn">提交评价</div>
                            <div class="ico_niming plnm">
                                <div class="checkbox" style=" margin-right: 15px;"></div>
                                <label class="nimingbz">匿名提交</label>
                            </div>

                        </div>
                    </div>
                </div>
                {/if}
                {/loop}

                <div class="morejob">更多简历信息>></div>

            {else}
            <div class="no_data_box"><img src="/addons/recruit/app/resource/images/no_data.png" style="float: left"><div class="no_data_boxmsg"><div style="font-size: 20px;color: #333;margin-top: 20px">暂时没有待评价信息</div><div class="color999" style="margin-top: 30px">您可以尝试投递简历争取更多面试机会哦！</div></div></div>
            {/if}
            </div>
            <!--待评价end-------------------------------------------------------------------------->
            <!--收到的评价start---------------------------------------------------------------------------->

            <div class="lists resume_content" style="background: none;">

                {if $comment_jobs}
                <div class="contanier">
                    {loop $comment_jobs $id $list}
                    {if $id%2==0}
                    <div class="list_item1" data-id="{$list['id']}">
                        <div class="item_con">
                            <div class="basic_massage maleft_3">
                                <a class="bm_hang1 linkhover" href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$list['jobs_id']))}" style="font-size: 20px;">
                                    {$list['jobs_name']}
                                </a>
                                <div class="bm_hang3">
                                    <span class="basic_xx">{$list['companyname']}</span>
                                </div>
                                <div class="" style="margin-top: 15px;">
                                    <span  class="bold33">HR回复</span>
                                    <span class="jubaopl">举报该评论</span>
                                </div>
                                <div class="pingjia_con">
                                    <span class="pingjia_neir">
                                        {$list['hr_reply']}
                                    </span>
                                    <input type="hidden" value="{$list['hr_reply']}" class="pingjiacon">
                                    <span class="xianshi_ico">
                                    显示全部
                                    <svg class="icon" style="">
                                        <use xlink:href="#icon-xiajiantou"></use>
                                    </svg>
                                </span>
                                </div>
                                <div class="my_evaluate" style="display: none;">
                                    <div class="" style="margin-top: 15px;">
                                        <span class="bold33">我的评价</span>
                                    </div>
                                    <div class="pingjia_con">
                                        {$list['content']}
                                    </div>
                                </div>
                                <div class="zhankai_btn zhankai1">展开我的评价</div>
                            </div>
                        </div>
                    </div>
                    {/if}
                   {/loop}
                    <div style="clear:both"></div>

                </div>

                <div class="contanier">
                    {loop $comment_jobs $id $list}
                    {if $id%2==1}
                    <div class="list_item1" data-id="{$list['id']}">
                        <div class="item_con">
                            <div class="basic_massage maleft_3">
                                <a class="bm_hang1 linkhover" style="font-size: 20px;" href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$list['jobs_id']))}">
                                    {$list['jobs_name']}
                                </a>
                                <div class="bm_hang3">
                                    <span class="basic_xx">{$list['companyname']}</span>
                                </div>
                                <div class="" style="margin-top: 15px;">
                                    <span  class="bold33">HR回复</span>
                                    <span class="jubaopl">举报该评论</span>
                                </div>
                                <div class="pingjia_con">
                                    <span class="pingjia_neir">
                                        {$list['hr_reply']}
                                    </span>
                                    <input type="hidden" value="{$list['hr_reply']}" class="pingjiacon">
                                    <span class="xianshi_ico">
                                    显示全部
                                    <svg class="icon" style="">
                                        <use xlink:href="#icon-xiajiantou"></use>
                                    </svg>
                                </span>
                                </div>
                                <div class="my_evaluate" style="display: none;">
                                    <div class="" style="margin-top: 15px;">
                                        <span class="bold33">我的评价</span>
                                    </div>
                                    <div class="pingjia_con">
                                        {$list['content']}
                                    </div>
                                </div>
                                <div class="zhankai_btn zhankai1">展开我的评价</div>
                            </div>
                        </div>
                    </div>
                    {/if}
                    {/loop}

                </div>


                <div class="morejob">更多简历信息>></div>

            {else}
            <div class="no_data_box"><img src="/addons/recruit/app/resource/images/no_data.png" style="float: left"><div class="no_data_boxmsg"><div style="font-size: 20px;color: #333;margin-top: 20px">暂时没有收到评价信息</div><div class="color999" style="margin-top: 30px">您可以尝试投递简历争取更多面试机会哦！</div></div></div>
            {/if}
            </div>
            <!--收到的评价end---------------------------------------------------->

        </div>
    </div>
    {php include wl_template('common/person_right');}


    <!--举报弹框--------->
    <div class="modalbox" id="jubaobox" style="display: none;">
        <div class="modal" style="width: 496px;margin-left: -248px;">
            <p class="title_content">举报该评论</p>
            <span class="modalclose">
                <img src="{WL_URL_ARES}images/close.png"/>
            </span>
            <p class="color666 jubaotishi" style="margin-top: 34px;text-align: center">若发现评论存在敏感词句，欢迎举报</p>

            <div style="margin-left: 40px;margin-top: 34px">
                <span class="color666" style="display: inline-block;vertical-align: top;margin-top: 15px;">举报原因</span>
                <div class=" relative general-select " style="float: none">
                    <label class="general-input relative general-select" style="float: none;width: 330px">
                        <input class="relative jubaoreason" type="text" readonly=""  name="company_scale" value="实际与描述不符" style="width: 310px;z-index: 10">
                        <svg class="icon inputicon" aria-hidden="true">
                            <use  xlink:href="#icon-xiala" class="colorbbb"></use>
                        </svg>
                    </label>
                    <div class="options" style="width: 332px;top:48px">
                        <div class="select-option" style="width: 330px"><span>培训机构</span></div>
                        <div class="select-option" style="width: 330px"><span>实际与描述不符</span></div>
                    </div>
                </div>
            </div>


            <div style="margin-left: 40px;margin-top: 34px">
                <span class="color666" style="float: left">详细描述</span>
                <div class="" style="display: inline-block;margin-left: 24px;height: 120px;border: 1px solid #f5f5f5;width: 330px;background-color: #f5f5f5">
                    <textarea   class="cwftextarea detailcon"  placeholder="请输入详细描述" style="width: 296px;height: 92px;"></textarea>
                </div>
                <div class="ico_niming">
                    <div class="checkbox" style=" margin-right: 15px;">
                        <svg class="icon iconfont color1aa ico_right">
                            <use xlink:href=""></use>
                        </svg>
                    </div>
                    <label class="nimingbz">匿名提交</label>
                </div>
            </div>
            <div class="btns" style="margin-bottom: 20px">
                <button class="tijiao1"  id="" style="margin-left: 156px;">确定</button>
                <span class="quxiao" style="color: #0099cc">取消</span>
            </div>
        </div>
    </div>
    <!--举报弹框end-->
    <!--未参加-->
    <div class="modalbox" id="weicanjiabox" style="display: none;">
        <div class="modal" style="width: 516px;margin-left: -258px;">
            <p class="title_content">未参加面试理由</p>
            <span class="modalclose">
                <img src="{WL_URL_ARES}images/close.png"/>
            </span>
            <div class="xuanxiang">
                <div class="itemsxx">
                    <div class="checkbox" style=" margin-right: 15px;"></div>
                    <label class="sss">临时有其他安排</label>
                </div>
                <div class="itemsxx">
                    <div class="checkbox" style=" margin-right: 15px;"></div>
                    <label class="sss">公司氛围太差</label>
                </div>
                <div class="itemsxx">
                    <div class="checkbox" style=" margin-right: 15px;"></div>
                    <label class="sss">等HR时间太长</label>
                </div>
                <div class="itemsxx">
                    <div class="checkbox" style=" margin-right: 15px;"></div>
                    <label class="sss">没找到公司具体位置</label>
                </div>
                <div class="itemsxx">
                    <div class="checkbox" style=" margin-right: 15px;"></div>
                    <label class="sss">已找到合适工作</label>
                </div>
                <div class="inputbox flonome">
                    <input type="text" class="bqzidingyi weicanj" placeholder="自定义未参加面试理由">
                </div>
            </div>


            <div class="btns" style="margin-bottom: 20px;margin-top: 15px">
                <button class="tijiao1"  style="margin-left: 180px;">确定</button>
                <span class="quxiao" style="color: #0099cc">取消</span>
            </div>
        </div>
    </div>
    <!--未参加end-->

</div>


</body>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/credit_evaluate.js" rel="script"></script>

<script>
    $(function () {
        var nav = "{$_GPC['nav']}"?"{$_GPC['nav']}":0;
        $(".list_item_btn").removeClass("select");
        $(".list_item_btn").eq(nav).addClass("select");
        $(".lists").hide();
        $(".lists").eq(nav).show();

    })

    $(document).click(function(e){
//        var _con = $('.morebiaoqian');   // 设置目标区域
//        if(!_con.is(e.target) && _con.has(e.target).length === 0){
//            $(".morebiaoqian").hide();//点击的动作
//        };
    });


</script>
</html>