<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/job_apply.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/person_msg.css" rel="stylesheet">
    <title>消息提醒-求职者</title>
</head>
<body>
{if $_SESSION['uid']}
{php include wl_template('common/top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="width1200 p1content">

    <div class="p1_left" style="margin-top: 10px">
        <div class="con_list">


            <div class="person_msg_titles">
                <span class="person_msg_title_check">全部消息</span>
                <span data-id="投递申请">投递申请</span>
                <span data-id="面试邀请">面试邀请</span>
                <span data-id="面试评价">面试评价</span>
                <span data-id="问答提醒">问答提醒</span>
                <span data-id="评论回复">评论回复</span>
                <span>系统通知</span>
            </div>




            <div id="all_msg">
                <!--系统通知-->
                <div class="system_msg">
                    <div class="system_msgbox">
                        <div class="system_msg_title">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-xitongtongzhi"></use>
                            </svg>
                            <span class="color999">系统通知</span>
                            <span class="colorbbb">2017-09-31 15:45</span>
                        </div>

                        <div class="system_msg_content">
                            还在打王者荣耀？应届僧邀请你共赴2017腾讯全球合作伙伴大会，作为腾讯公司规模最大的年度行业省会，腾讯旗下20多个业务线将集体在大会上亮相
                        </div>

                        <div class="system_msg_img">
                            <img src="{WL_URL_ARES}images/index_big_banner.png">
                        </div>
                        <a href="#" class="see_system_msg">查看详情>></a>
                    </div>
                </div>
                <!--一天的消息-->
                {loop $new_arr $list}
                <div class="one_day_msg">
                    <div class="day_time">
                        <i></i>
                        <span>{$list['time']}</span>
                    </div>


                    <!--投递申请-->
                    {loop $list['content'] $li}
                    {if $li['direction']==2}
                    <div class="day_msgbox">
                        <div class="system_msg_title">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-qiuzhiyixiang"></use>
                            </svg>
                            <span class="color999">投递申请</span>
                            <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                        </div>

                        <div class="delivery_left">
                        <a class="delivery_logo" href="{php echo app_url('member/index/company_detail',array('jobs_id'=>$li['company_uid']))}">
                            <img src="{$li['headimgurl']}">
                        </a>
                            <a  href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$li['id']))}">{$li['jobs_name']}</a>
                            <a style="margin-left: 20px"  href="{php echo app_url('member/index/company_detail',array('jobs_id'=>$li['company_uid']))}">{$li['companyname']}</a><br>
                            <span style="display: inline-block;margin-top: 22px">
                                最新状态：
                                {if $li['status']==-1}
                                    不合适
                                {elseif $li['status']==0}
                                    未查看
                                {elseif $li['status']==1}
                                    已查看
                                {elseif $li['status']==3}
                                    邀请面试
                                {/if}
                            </span>
                        </div>

                        <a href="{php echo app_url('person/index/send_resume')}" class="see_system_msg see_day_msg" >查看详情>></a>
                    </div>
                    {/if}
                    {/loop}
                    <!--面试邀请-->
                    {loop $list['content'] $li}
                    {if $li['status']==3}
                    <div class="day_msgbox">
                        <div class="system_msg_title">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-gongzuojingli"></use>
                            </svg>
                            <span class="color999">面试邀请</span>
                            <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                        </div>

                        <div class="delivery_left">
                        <a class="delivery_logo" href="{php echo app_url('member/index/company_detail',array('company_id'=>$li['company_uid']))}">
                            <img src="{$li['headimgurl']}">
                        </a>
                            <a  href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$li['id']))}">{$li['jobs_name']}</a><br>
                            <a style="display: inline-block;margin-top: 22px"  href="{php echo app_url('member/index/company_detail',array('company_id'=>$li['uid']))}">{$li['companyname']}</a>
                        </div>

                        <a href="{php echo app_url('person/index/send_resume',array('nav'=>1))}" class="see_system_msg see_day_msg" >查看详情>></a>
                    </div>
                    {/if}
                    {/loop}

                    <!--问答提醒-->
                    <div class="day_msgbox">
                        <div class="system_msg_title">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-wendatixing"></use>
                            </svg>
                            <span class="color999">问答提醒</span>
                            <span class="colorbbb">2017-09-31 15:45</span>
                        </div>

                        <div class="delivery_left" style="line-height: 24px">
                        <span class="delivery_headerimg">
                            <img src="{WL_URL_ARES}images/qiyelogo.png">
                        </span>
                            <span>拒绝了您的问题：</span><br>
                            <span>刚毕业的大学生找工作如何防止被骗？</span>
                        </div>

                        <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                    </div>

                    <!--评论回复-->
                    <div class="day_msgbox">
                        <div class="system_msg_title">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pinglunhuifu"></use>
                            </svg>
                            <span class="color999">评论回复</span>
                            <span class="colorbbb">2017-09-31 15:45</span>
                        </div>

                        <div class="delivery_left" style="line-height: 24px">
                        <span class="delivery_headerimg">
                            <img src="{WL_URL_ARES}images/qiyelogo.png">
                        </span>
                            <span>回复了您在<span style="color: #7b8fc9">“一个刚毕业的会计学生简历上有哪些经历会加分？”</span>中的评论</span>
                        </div>

                        <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                    </div>

                    <!--面试评价-->
                    {loop $list['content'] $li}
                    {if $li['hr_reply_status']==1}
                    <div class="day_msgbox">
                        <div class="system_msg_title">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-pinglunhuifu"></use>
                            </svg>
                            <span class="color999">面试评价</span>
                            <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                        </div>

                        <div class="delivery_left">
                        <span class="delivery_logo">
                            <img src="{$li['headimgurl']}">
                        </span>
                            <span><span style="color: #7b8fc9">{$li['companyname']}</span>回复了您的面试评价</span>
                        </div>

                        <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                    </div>
                    {/if}
                    {/loop}
                </div>
                {/loop}
            </div>


            <div id="one_msg">

            </div>

        </div>
    </div>



    <div class="p1_right"  style="margin-top: 20px">
        <div class="part_one">
            <div class="title-top">
                <label class="top_con">猜你喜欢</label>
            </div>
            {loop $jobs $list}
            <a href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$list['id']))}" class="items_list">
                <div class="logo1">
                    <img src="{$list['headimgurl']}" class="logopic">
                </div>
                <div class="company_name">
                    <p class="job_n">{$list['jobs_name']}</p>
                    <p class="job_s">
                        {if $list['wage_min']>0 && $list['wage_max']>0}
                        {$list['wage_min']}-{$list['wage_max']}K
                        {else}
                        面议
                        {/if}
                    </p>
                    <p class="companyn nowrap">{$list['companyname']}</p>
                </div>
            </a>
            {/loop}
            <div style="clear: both"></div>
            <a href="{php echo app_url('member/index/search_jobs')}" class="seemorejob">查看更多职位>></a>
        </div>


    </div>




</div>



</body>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/person_msg.js" rel="script"></script>

<script>
    $(".person_msg_titles span").on("click",function(){
        var _this=$(this);
        var dataid=_this.attr("data-id");
        $(".person_msg_titles span").removeClass("person_msg_title_check");
        _this.addClass("person_msg_title_check");

        if(dataid){
            $.ajax({
                url:"{php echo app_url('person/index/msg_deal')}",
                type:"post",
                data:{
                    msg:dataid
                },
                success:function(data){
                    var data=JSON.parse(data);
                    if(data.status==1){
                        $("#all_msg").hide();
                        $("#one_msg").show();
                        if(data.content){
                            $("#one_msg").html(data.content);
                        }else{
                            no_data("#one_msg","没有消息","当前板块没有消息")
                        }

                    }
                }

            })
        }else if(_this.html()=="全部消息"){
            $("#all_msg").show();
            $(".one_day_msg").show();
            $("#one_msg").hide();
        }else if(_this.html()=="系统通知"){
            $("#all_msg").show();
            $(".one_day_msg").hide();
            $("#one_msg").hide();
        }
    })
</script>
</html>