<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/job_apply.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/person_msg.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/user_center.css" rel="stylesheet">
    <title>个人中心</title>
</head>
<body bgcolor="#f4f4f4">
{if $_SESSION['uid']}
{php include wl_template('common/top');}
{else}
{php include wl_template('common/header');}
{/if}
<div class="width1200 p1content">
    {php include wl_template('common/person_nav');}
    <div class="p1_left">
        <div class="con_list">
            <div class="content_u">
                <div class="touxiangimg">
                    <img src="{if $resume['headimgurl']}{php echo $resume['headimgurl']}{else}{WL_URL_ARES}images/resume_head.png{/if}" class="touxipi"/>
                </div>
                <div class="xinximsg" style="margin-top: 10px;">
                    <label class="wenhou">早上好，{php echo $resume['fullname']}同学。</label>
                    <label class="" style="margin-left: 30px;">
                        <svg class="icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shouji"></use>
                        </svg>
                        <span class="basic_msg_contents" style="margin-right: 20px;">{php echo $resume['telphone']}</span>
                        <svg class="icon" aria-hidden="true">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youxiang"></use>
                        </svg>
                        <span class="basic_msg_contents">{php echo $resume['email']}</span>
                    </label>
                    <div class="" style="margin-top: 16px;text-align: left;font-size: 14px;color: #666666;">
                        <span class="basic_msg_contents1">{php echo $resume['school_name']}</span>
                        <span class="basic_msg_contents1">{php echo $resume['education']}</span>
                        <span class="basic_msg_contents1">{php echo $resume['major']} </span>
                        <span class="basic_msg_contents1">{php echo $resume['experience']}</span>
                        <span class="basic_msg_contents1" style="border-right: none">{php echo $resume['work_status']}</span>
                    </div>
                    <div class="tongjinum">
                        <div class="tjnum">
                            <a class="nubss" href="{php echo app_url('person/index/credit_evaluate')}">{$comment_num}</a>
                            <p class="jsnm">面试评价</p>
                        </div>
                        <div class="tjnum">
                            <a class="nubss" href="{php echo app_url('person/index/collection_jobs_list',array('nav'=>1))}">{if $add_order_num}{$add_order_num}{else}0{/if}</a>
                            <p class="jsnm">新增订阅</p>
                        </div>
                        <div class="tjnum">
                            <a class="nubss" href="#">5</a>
                            <p class="jsnm">问题回答</p>
                        </div>
                        <div class="tjnum">
                            <a class="nubss" href="{php echo app_url('person/index/credit_evaluate',array('nav'=>1))}">{$reply_num}</a>
                            <p class="jsnm">收到评论</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_p">
                <div class="p_title">
                    <div class="zitile">应聘历程</div>
                    <div class="xianx"></div>
                </div>
                <div class="dateselect">
                    <label class="font14 color66 m_r_16 ziriqi">选择日期</label>
                    <label class="bg_kuang">
                        <input class="inputku" type="text" readonly value="近期日程">
                        <svg class="icon riliico" aria-hidden="true">
                            <use xlink:href="#icon-rili"></use>
                        </svg>

                        <div class="nianrili">
                            <div class="nianbtn">
                                <div class="brn_con">
                                    <div class="btn_niann btn_prey">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-more-copy"></use>
                                        </svg>
                                    </div>
                                    <div class="niann">2017</div>
                                    <div class="btn_niann btn_nexty">
                                        <svg class="icon" aria-hidden="true">
                                            <use xlink:href="#icon-more"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="years">
                                <label class="yearn" data-id="1">一月</label>
                                <label class="yearn" data-id="2">二月</label>
                                <label class="yearn" data-id="3">三月</label>
                                <label class="yearn" data-id="4">四月</label>
                                <label class="yearn" data-id="5">五月</label>
                                <label class="yearn" data-id="6">六月</label>
                                <label class="yearn" data-id="7">七月</label>
                                <label class="yearn" data-id="8">八月</label>
                                <label class="yearn" data-id="9">九月</label>
                                <label class="yearn" data-id="10">十月</label>
                                <label class="yearn" data-id="11">十一月</label>
                                <label class="yearn" data-id="12">十二月</label>
                            </div>
                            <div class="ckrc">查看近期日程</div>
                        </div>
                    </label>

                    <label class="nomsges" {if empty($interviews['list'])}style="display:block;"{else}style="display:none;"{/if}>
                        <span class="font16 color33">所选月份暂无日程安排</span>
                        <span class="font14 color33" style="margin-left: 10px;">请前往<a class="colormain" href="{php echo app_url('member/index/search_jobs')}">找工作</a></span>
                    </label>
                </div>
                <div class="zph_list">
                    {if $interviews['list']}
                    {loop $interviews['list'] $list}
                    <!--<div class="zph_item">-->
                        <!--<p class="zph_title nowrap">招聘会</p>-->
                        <!--<p class="zph_time nowrap">今天8:15</p>-->
                        <!--<p class="zph_ttt nowrap">2017重庆第二三届</p>-->
                        <!--<p class="zph_sss nowrap">现代服务业大型招聘会</p>-->
                        <!--<div class="zhejiao1"><img src="{WL_URL_ARES}images/sanjiaox.png"></div>-->
                    <!--</div>-->
                    {if $list['directon']==2}
                    <div class="zph_item">
                        <p class="zph_title nowrap">面试</p>
                        <p class="zph_time nowrap">{$list['interview_time']}</p>
                        <p class="zph_ttt nowrap">{$list['jobs_name']}</p>
                        <p class="zph_sss nowrap">{$list['companyname']}</p>
                        <div class="zhejiao1"><img src="{WL_URL_ARES}images/sanjiaox.png"></div>
                    </div>
                    {elseif $list['directon']==1}
                    <div class="zph_item">
                        <p class="zph_title nowrap">职位邀请</p>
                        <p class="zph_time nowrap">{$list['interview_time']}</p>
                        <p class="zph_ttt nowrap">{$list['jobs_name']}</p>
                        <p class="zph_sss nowrap">{$list['companyname']}</p>
                        <div class="zhejiao1"><img src="{WL_URL_ARES}images/sanjiaox.png"></div>
                    </div>
                    {/if}
                    {/loop}
                    {/if}
                </div>
                {if $interviews['count']>6}
                <div class="morejob thisbm interview_page">更多简历信息&gt;&gt;</div>
                {/if}
            </div>

            <div class="content_p">
                <div class="p_title">
                    <div class="zitile">我的消息</div>
                    <div class="xianx"></div>
                </div>
                <div class="dateselect" style="margin-top: 10px;height: auto;">
                    <div class="person_msg_titles">
                        <span  class="person_msg_title_check male0">全部消息</span>
                        <span data-id="面试消息">面试消息</span>
                        <span data-id="导师消息">导师消息</span>
                        <span data-id="系统消息">系统消息</span>
                    </div>
                </div>
                <div id="all_msg" style="float: left;">
                    <!--系统通知-->
                    <div class="system_msg" style="margin: 30px 0px 40px 0px;width: 730px;">
                        <div class="system_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-xitongtongzhi"></use>
                                </svg>
                                <span class="color999">系统通知</span>
                                <span class="colorbbb">2017-09-31 15:45</span>
                            </div>

                            <div class="system_msg_content">
                                还在打王者荣耀？应届僧邀请你共赴2017腾讯全球合作伙伴大会，作为腾讯公司规模最大的年度行业省会，腾讯旗下20多个业务线将集体在大会上亮相
                            </div>

                            <div class="system_msg_img" style="width: 634px;">
                                <img src="{WL_URL_ARES}images/index_big_banner.png">
                            </div>
                            <a href="#" class="see_system_msg">查看详情&gt;&gt;</a>
                        </div>
                    </div>
                    <!--一天的消息-->
                    {loop $new_arr $list}
                    <div class="one_day_msg">
                        <div class="day_time">
                            <i></i>
                            <span>{$list['time']}</span>
                        </div>


                        <!--投递申请-->
                        {loop $list['content'] $li}
                        {if $li['direction']==2}
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-qiuzhiyixiang"></use>
                                </svg>
                                <span class="color999">投递申请</span>
                                <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                            </div>

                            <div class="delivery_left">
                                <a class="delivery_logo" href="{php echo app_url('member/index/company_detail',array('jobs_id'=>$li['company_uid']))}">
                                    <img src="{$li['headimgurl']}">
                                </a>
                                <a  href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$li['id']))}">{$li['jobs_name']}</a>
                                <a style="margin-left: 20px"  href="{php echo app_url('member/index/company_detail',array('jobs_id'=>$li['company_uid']))}">{$li['companyname']}</a><br>
                                <span style="display: inline-block;margin-top: 22px">
                                最新状态：
                                {if $li['status']==-1}
                                    不合适
                                {elseif $li['status']==0}
                                    未查看
                                {elseif $li['status']==1}
                                    已查看
                                {elseif $li['status']==3}
                                    邀请面试
                                {/if}
                            </span>
                            </div>

                            <a href="{php echo app_url('person/index/send_resume')}" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>
                        {/if}
                        {/loop}
                        <!--面试邀请-->
                        {loop $list['content'] $li}
                        {if $li['direction']==1 && $li['status']==3}
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-gongzuojingli"></use>
                                </svg>
                                <span class="color999">面试邀请</span>
                                <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                            </div>

                            <div class="delivery_left">
                                <a class="delivery_logo" href="{php echo app_url('member/index/company_detail',array('company_id'=>$li['company_uid']))}">
                                    <img src="{$li['headimgurl']}">
                                </a>
                                <a  href="{php echo app_url('member/index/jobs_detail',array('jobs_id'=>$li['id']))}">{$li['jobs_name']}</a><br>
                                <a style="display: inline-block;margin-top: 22px"  href="{php echo app_url('member/index/company_detail',array('company_id'=>$li['uid']))}">{$li['companyname']}</a>
                            </div>

                            <a href="{php echo app_url('person/index/send_resume',array('nav'=>1))}" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>
                        {/if}
                        {/loop}

                        <!--问答提醒-->
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-wendatixing"></use>
                                </svg>
                                <span class="color999">问答提醒</span>
                                <span class="colorbbb">2017-09-31 15:45</span>
                            </div>

                            <div class="delivery_left" style="line-height: 24px">
                        <span class="delivery_headerimg">
                            <img src="{WL_URL_ARES}images/qiyelogo.png">
                        </span>
                                <span>拒绝了您的问题：</span><br>
                                <span>刚毕业的大学生找工作如何防止被骗？</span>
                            </div>

                            <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>

                        <!--评论回复-->
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-pinglunhuifu"></use>
                                </svg>
                                <span class="color999">评论回复</span>
                                <span class="colorbbb">2017-09-31 15:45</span>
                            </div>

                            <div class="delivery_left" style="line-height: 24px">
                        <span class="delivery_headerimg">
                            <img src="{WL_URL_ARES}images/qiyelogo.png">
                        </span>
                                <span>回复了您在<span style="color: #7b8fc9">“一个刚毕业的会计学生简历上有哪些经历会加分？”</span>中的评论</span>
                            </div>

                            <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>

                        <!--面试评价-->
                        {loop $list['content'] $li}
                        {if $li['hr_reply_status']==1}
                        <div class="day_msgbox">
                            <div class="system_msg_title">
                                <svg class="icon" aria-hidden="true">
                                    <use xlink:href="#icon-pinglunhuifu"></use>
                                </svg>
                                <span class="color999">面试评价</span>
                                <span class="colorbbb">{php echo date('Y-m-d h:i',$li['createtime'])}</span>
                            </div>

                            <div class="delivery_left">
                        <span class="delivery_logo">
                            <img src="{$li['headimgurl']}">
                        </span>
                                <span><span style="color: #7b8fc9">{$li['companyname']}</span>回复了您的面试评价</span>
                            </div>

                            <a href="#" class="see_system_msg see_day_msg" >查看详情>></a>
                        </div>
                        {/if}
                        {/loop}
                    </div>
                    {/loop}
                </div>

                <div id="one_msg" style="float: left;"></div>
            </div>


        </div>
    </div>
    <div class="p1_right" style="margin-top: 10px">
        <div class="part_one">
            <p class="titleri">我的简历</p>
            <div class="wanzhengdu" style="margin-top: 10px;">
                <div class="jianli"><span>简历完整度：</span><span class="color_main">{php echo $resume_integrity}%</span>
                    <a class="color_main resume_view" href="{php echo app_url('person/resume/manage_resume')}" style="float: right;">去完善</a>
                   <div class="jindutiao">
                        <div class="jindu_con" style="width: 71%"></div>
                    </div>
                </div>
            </div>
            <div class="btns_resume">
                <div class="menus send_email">
                    <svg class="icon icon_item" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-fasongyouxiang"></use>
                    </svg>
                    <div class="bb12">
                        发至邮箱
                    </div>
                </div>
                <div class="menus relative" id="posttel_erwei">
                    <svg class="icon icon_item" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-shouji"></use>
                    </svg>
                    <div class="bb12">
                        发至手机
                    </div>

                    <div class="erwei_codebox">
                        <span class="erwei_img">
                            <img src="{WL_URL_ARES}images/erweima.png">
                        </span>
                        <div style="font-size: 12px;color: #666;margin-top: 6px;padding-bottom: 30px">扫描二维码，将简历发送至手机</div>
                    </div>

                </div>
                <a class="menus" href="{php echo app_url('resume/index',array('uid'=>$resume['uid']))}">
                    <svg class="icon icon_item" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-dayinjianli"></use>
                    </svg>
                    <div class="bb12">
                        打印简历
                    </div>
                </a>
                <a class="menus" href="{php echo app_url('resume/index',array('uid'=>$resume['uid']))}">
                    <svg class="icon icon_item" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-xiazaijianli"></use>
                    </svg>
                    <div class="bb12">
                        下载简历
                    </div>
                </a>



            </div>
        </div>
        <div class="part_one">
            <div class="title-top">
                <label class="top_con">猜你喜欢</label>
            </div>
            {loop $guess_jobs $list}
            <div class="items_list">
                <a class="logo1" href="{php echo app_url('member/index/jobs_detail',array('id'=>$list['id']))}">
                    <img src="{$list['headimgurl']}" class="logopic">
                </a>
                <div class="company_name" style="height: 66px;">
                    <a class="job_n nowrap" href="">{$list['jobs_name']}</a>
                    <p class="job_s nowrap" style="display: block;">
                        {if $list['wage_min']>0 && $list['wage_max']>0}
                        {$list['wage_min']}-{$list['wage_max']}K
                        {else}
                        面议
                        {/if}
                    </p>
                    <p class="companyn nowrap">{$list['companyname']}</p>
                </div>
            </div>
            {/loop}
            <a class="morejobss color99" href="{php echo app_url('member/index/search_jobs')}">查看更多职位>></a>
        </div>
        <div class="part_one">
            <div class="title-top">
                <label class="top_con">热招名企</label>
            </div>
            {loop $companys $list}
            <div class="items_list">
                <a class="logo1" href="">
                    <img src="{$list['headimgurl']}" class="logopic">
                </a>
                <div class="" style="height: 66px;">
                    <a class="job_n jobname" href="">{$list['companyname']}</a>
                    <p class="companyn nowrap">{$list['jobs_num']}个热招职位</p>
                </div>
            </div>
            {/loop}
            <!--<a class="morejobss color99" href="#">查看更多职位&gt;&gt;</a>-->
        </div>

    </div>


    <!--举报弹框--------->
    <div class="modalbox" id="jubaobox" style="display: none;">
        <div class="modal" style="width: 496px;margin-left: -248px;">
            <p class="title_content">举报该评论</p>
            <span class="modalclose">
                <img src="{WL_URL_ARES}images/close.png"/>
            </span>
            <p class="color666 jubaotishi" style="margin-top: 34px;text-align: center">若发现评论存在敏感词句，欢迎举报</p>

            <div style="margin-left: 40px;margin-top: 34px">
                <span class="color666" style="display: inline-block;vertical-align: top;margin-top: 15px;">举报原因</span>
                <div class=" relative general-select " style="float: none">
                    <label class="general-input relative general-select" style="float: none;width: 330px">
                        <input class="relative jubaoreason" type="text" readonly=""  name="company_scale" value="实际与描述不符" style="width: 310px;z-index: 10">
                        <svg class="icon inputicon" aria-hidden="true">
                            <use  xlink:href="#icon-xiala" class="colorbbb"></use>
                        </svg>
                    </label>
                    <div class="options" style="width: 332px;top:48px">
                        <div class="select-option" style="width: 330px"><span>培训机构</span></div>
                        <div class="select-option" style="width: 330px"><span>实际与描述不符</span></div>
                    </div>
                </div>
            </div>


            <div style="margin-left: 40px;margin-top: 34px">
                <span class="color666" style="float: left">详细描述</span>
                <div class="" style="display: inline-block;margin-left: 24px;height: 120px;border: 1px solid #f5f5f5;width: 330px;background-color: #f5f5f5">
                    <textarea   class="cwftextarea detailcon"  placeholder="请输入详细描述" style="width: 296px;height: 92px;"></textarea>
                </div>
                <div class="ico_niming">
                    <div class="checkbox" style=" margin-right: 15px;">
                        <svg class="icon iconfont color1aa ico_right">
                            <use xlink:href=""></use>
                        </svg>
                    </div>
                    <label class="nimingbz">匿名提交</label>
                </div>
            </div>
            <div class="btns" style="margin-bottom: 20px">
                <button class="tijiao1"  id="" style="margin-left: 156px;">确定</button>
                <span class="quxiao" style="color: #0099cc">取消</span>
            </div>
        </div>
    </div>
    <!--举报弹框end-->

    <!--发送邮箱-->
    <div class="modalbox" id="envelope_modal" style="display: none">
        <div class="envelope_modal">

            <div class="envelope">
                <div class="envelope_content">
                    <span class="font666 resume_msg_name" style="font-size: 14px;width: auto">发送求职信至HR邮箱:</span>
                    <label class="general-input relative" style="width: 210px">
                        <input type="text"  name="email" style="width: 170px;position: absolute;z-index: 99"  placeholder="请输入用人单位招聘邮箱" data-error="请输入邮箱">
                    </label>
                    <span class="public_bigbtn bg1aa post_envelopebtn" style="float: right;margin-right: 30px;height: 44px;line-height: 44px;">
                    点击发送
                </span>

                    <div class="envelope_content_msg">
                    <textarea  class="envelope_content_textarea" id="envelope_content_msg"  placeholder="你想对hr说什么"> 尊敬的HR：
　　您好！
　　{php echo $resume['introduce']}

    我是一名{php echo $resume['school_name']}{php echo $resume['edu_finish_time']}届的{php echo $resume['edu_district']}毕业生。所学专业：{php echo $resume['major']}。
　　{if $work_experience}
大学期间实习经历：
    {loop $work_experience $list}{php echo $list['job_starttime']}-{php echo $list['job_endtime']}，职位：{php echo $list['job_name']}，工作内容：{php echo $list['job_content']}。
　　{/loop}
    {/if}

    我怀着崇敬的心情给您发了这封邮件，希望您能在百忙之中抽空查看我的个人简历，谢谢。
恭祝商祺。</textarea>
                    </div>

                    <input type="hidden" name="envelope_content" id="envelope_content">

                </div>
            </div>

            <div class="envelope_enclosure">
                <div style="display: inline-block">
                    <span class="font20666">附件:</span>

                    <svg class="icon pdficon" aria-hidden="true">
                        <use xlink:href="#icon-file-pdf"></use>
                    </svg>
                    <a href="{php echo '/app/'.$_SESSION['uid'].'.pdf'}" class="envelope_resume" target="_blank">{php echo $resume['fullname']}的个人简历</a>
                </div>

                <div style="float: right;text-align: center;line-height: 24px;color: #666">
                    <span>{php echo $resume['fullname']}</span>
                    <div>{php echo date('Y年m月d日')}</div>
                </div>

            </div>

            <span class="close_envelopebtn">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-shan"></use>
            </svg>
        </span>


        </div>
    </div>

    <!--发送邮箱-->

</div>


</body>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/control.js" rel="script"></script>
<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>

<script>

    var option = {
        year:"",
        month:"",
        page:1
    }
    $(".zph_item").mouseover(function () {
        $(".zph_item").find(".zhejiao1 img").attr("src","{WL_URL_ARES}images/sanjiaox.png");
        $(this).find(".zhejiao1 img").attr("src","{WL_URL_ARES}images/sanjiaox.png");
    })
    $(".zph_item").mouseout(function (){
        $(".zph_item").find(".zhejiao1 img").attr("src","{WL_URL_ARES}images/sanjiaox.png");
    })

    $(".btn_prey").click(function () {
        var year=$(".niann").html();
        year --;
        $(".niann").html(year);
    })
    $(".btn_nexty").click(function () {
        var year=$(".niann").html();
        year ++;
        $(".niann").html(year);
    })
    $(".riliico").click(function () {
        $(".nianrili").show();
    })

    //选择招聘日期发送ajax
    $(".yearn").click(function () {
        $(".nianrili").hide();
        var month=$(this).attr("data-id");
        var year=$(".niann").html();
        $(".inputku").val(year+"-"+month);
        option.month = month;
        option.year = year;
        option.page = 0;
        $.ajax({
            type:"post",
            url:"{php echo app_url('person/index/select_course')}",
            data:option,
            success:function (data) {
                var data = JSON.parse(data);
                if(data.status==1){
                    $(".nomsges").css("display","none");
                    $(".zph_list").html(data.content);
                    option.page =1;
                    if(parseInt(data.others)>6){
                        $(".interview_page").css("display","block");
                    }
                }else{
                    $(".zph_list").html("");
                    $(".interview_page").css("display","none");
                    $(".nomsges").css("display","block");
                }
            }
        })
    })

    $(".ckrc").click(function () {
        $(".nianrili").hide();
        $(".inputku").val("近期日程");
    })

    $(".send_email").click(function () {
        $("#envelope_modal").show();
    })
    $(".close_envelopebtn").click(function () {
        $("#envelope_modal").hide();
    })

    $(".post_envelopebtn").click(function () {
        $("#envelope_content").val($("#envelope_content_msg").val());
    })

    //发送邮件
    $.fromdata("#envelope_modal","{php echo app_url('person/resume/send_email')}",".post_envelopebtn",function(data){
        var data = JSON.parse(data);
        if(data.status==1){
            hint("success","发送成功");
            $("#envelope_modal").css("display","none");
        }
    })


    $(".interview_page").click(function () {
        $.ajax({
            type:"post",
            url:"{php echo app_url('person/index/select_course')}",
            data:option,
            success:function (data) {
                var data = JSON.parse(data);
                if(data.status==1){
                    option.page +=1;
                    $(".zph_list").append(data.content);
                    if(parseInt(data.others)>6){
                        $(".interview_page").css("display","block");
                    }else{
                        $(".interview_page").css("display","none");
                    }
                }else{
                    $(".interview_page").css("display","none");
                }
            }
        })
    })

    $(document).click(function(e){
        var _con = $('.bg_kuang');   // 设置目标区域
        if(!_con.is(e.target) && _con.has(e.target).length === 0){
            $(".nianrili").hide();
        };
    });

    //消息切换效果
    $(".person_msg_titles span").click(function () {
        $(".person_msg_titles span").removeClass("person_msg_title_check");
        $(this).addClass("person_msg_title_check");
        if($(this).attr("data-id")){
            $("#one_msg").show();
            $("all_msg").hide();
            $.ajax({
                type:"post",
                url:"{php echo app_url('person/index/msg_deal')}",
                data:{
                    kind:$(this).attr("data-id")
                },
                success:function (data) {
                    var data = JSON.parse(data);
                    if(data.status==1){

                    }
                }
            })
        }else{
            $("#one_msg").hide();
            $("all_msg").show();
        }

    })

</script>
</html>