<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/swiper-3.4.2.min.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/reguser1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume_print.css" rel="stylesheet">
    <title>简历预览</title>
    <style>
        .swiper-container {
            width: 910px;
            height: 400px;margin-top: 50px;
        }

        .swiper-wrapper{
            padding-left: 10px;
        }
    </style>
</head>
<body bgcolor="#f4f4f4">
{if $_GPC['show']<>1}
{php include wl_template('common/resume_top');}
{/if}
<div class="width1200 p1content preview">
    <div class="p1_left">

        <div class="con_list">
            <!--头像-->
            <div class="resume_header">
                <div class="resume_manage_header">
                    <div class="resume_manage_header1">
                        <img  src="{php echo $resume['headimgurl']}">
                    </div>

                </div>
            </div>


            <!--基本信息-->
            <div class="basic_msg width670" id="person_msg">
                <div class="basic_msg_content">
                    <span class="user_name">{php echo $resume['fullname']}</span>
                    <div class="font666" style="margin-top: 20px">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-gerenxinxi"></use>
                        </svg>
                        <span class="basic_msg_contents">{if $resume['sex']==1}男{else}女{/if}</span>
                        <span class="basic_msg_contents">{php echo ceil((time()-$resume['birthday'])/31536000)}岁</span>
                        <span class="basic_msg_contents">{php echo $resume['political_status']}</span>
                        <span class="basic_msg_contents">{php echo $resume['education']}</span>
                        <span class="basic_msg_contents">{php echo $resume['work_status']}</span>
                    </div>

                    <div class="font666" style="margin-top: 16px">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-shouji"></use>
                        </svg>
                        <span class="basic_msg_contents">{php echo $resume['telphone']}</span>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-youxiang"></use>
                        </svg>
                        <span class="basic_msg_contents">{php echo $resume['email']}</span>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-didian"></use>
                        </svg>
                        <span class="basic_msg_contents">{php echo $resume['city']}{php echo $resume['city_area']}{php echo $resume['address']}</span>
                    </div>
                    <div class="font666" style="margin-top: 16px">
                        <span class="basic_msg_contents1">{php echo $resume['school_name']}</span>
                        <span class="basic_msg_contents1">{php echo $resume['major']}</span>
                        <span class="basic_msg_contents1">{php echo $resume['experience']}</span>
                        <span class="basic_msg_contents1" style="border-right: none">{php echo $resume['origin_place']}（籍贯）</span>
                    </div>
                    <div class="personmsg">
                        {php echo $resume['introduce']}
                    </div>
                </div>
            </div>


<!--求职意向-->
            {if $resume['hope_job']}
            <div class="basic_msg width670"  style="margin-top: 50px">
                <div class="basic_msg_content">
                    <div class="resume_title" style="width: 670px;">
                        <span>求职意向</span>
                    </div>

                    <div class="font999" id="wanted_job" style=";margin-top: 58px;line-height: 2">
                        {if $resume['hope_job']}
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-zhiwei"></use>
                            </svg>
                            {loop explode(",",$resume['hope_job']) $list}
                            <span class="basic_msg_contents1">{$list}</span>
                            {/loop}
                        {/if}
                        {if $resume['trade']}
                            <svg class="icon" aria-hidden="true" style="margin-left: 20px">
                                <use xlink:href="#icon-hangye"></use>
                            </svg>
                            {loop explode(",",$resume['trade']) $list}
                            <span class="basic_msg_contents1">{$list}</span>
                            {/loop}
                        {/if}
                        <br/>
                        {if $resume['salary']}
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-xinzi"></use>
                        </svg>
                        <span class="basic_msg_contents2">{php echo $resume['salary']}</span>
                        {/if}

                        {if $resume['nature']}
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-quanzhi"></use>
                        </svg>
                        <span class="basic_msg_contents2">{php echo $resume['nature']}</span>
                        {/if}
                        {if $resume['hope_place']}
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-didian"></use>
                        </svg>
                        <span class="basic_msg_contents2">{php echo $resume['hope_place']}</span>
                        {/if}
                    </div>
                </div>
            </div>
            {/if}
<!--工作经历-->
            {if $resume['work_experience']}
            <div class="basic_msg width670" style="margin-top: 50px">
                <div class="basic_msg_content">
                    <div class="resume_title"  style="width: 670px;">
                        <span>工作经历</span>
                    </div>
                    <div class="resume_exp">
                        <div class="left_line">
                        </div>
                        <div class="resume_exp_content">
                            {loop unserialize($resume['work_experience']) $id $list}
                            <div class="relative">
                                <span class="exp_title">{php echo $list['company_name']}</span>

                            </div>

                            <div class="exp_job">
                                <span class="exp_jobleft">{php echo $list['job_name']}</span>
                                <span class="exp_jobright">{php echo $list['job_starttime']} — {php echo $list['job_endtime']}</span>
                            </div>

                            <div class="exp_content">
                                {php echo $list['job_content']}
                            </div>


                            <div class="exp_job">

                                <span class="exp_jobleft">离职原因：{php echo  $list['leave_reason']}</span>
                            </div>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
            {/if}
<!--教育经历-->
            {if $edu_experience}
            <div class="basic_msg width670" style="margin-top: 50px">
                <div class="basic_msg_content">
                    <div class="resume_title"  style="width: 670px;">
                        <span>教育经历</span>
                    </div>
                    <div class="resume_exp">
                        <div class="left_line">
                        </div>
                        <div class="resume_exp_content">
                            {loop $edu_experience $id $list}
                            <div class="relative">
                                <span class="exp_title">{php echo $list['school_name']}</span>
                            </div>
                            <div class="exp_job">
                                <span class="exp_jobleft">{php echo $list['edu_major']}</span>
                                <span class="exp_jobleft" style="margin-left: 8px">{php echo $list['edu_district']}</span>
                                <span class="exp_jobright">{if $list['edu_finish_time']}{php echo $list['edu_finish_time']}届{/if}</span>
                            </div>
                            <div class="exp_content">
                                {php echo $list['edu_content']}
                            </div>
                            {/loop}
                        </div>
                    </div>
                </div>
            </div>
            {/if}
<!--个人作品-->
            {if $personal_works}
            <div class="basic_msg width670" style="margin-top: 50px">
                <div class="basic_msg_content">
                    <div class="resume_title"  style="width: 670px;">
                        <span>个人作品</span>
                    </div>

                    <div class="resume_exp">

                        <div class="person_works">
                            {loop $personal_works $id $list}
                            <div class="hj_item">
                                <p class="hj_biaotiti">{$list['person_workmsg']}</p>
                                {loop explode(",",$list['person_works']) $li}
                                <img src="{$li}" class="hj_fm"/>
                                {/loop}
                            </div>
                            {/loop}

                        </div>
                    </div>
                </div>
            </div>
            {/if}


            <!--荣誉证书-->
            {if $honor}
            <div class="basic_msg width670" style="margin-top: 50px;">
                <div class="basic_msg_content">
                    <div class="resume_title"  style="width: 670px;">
                        <span>荣誉证书</span>
                    </div>
                    <div class="bshang1" style="margin-top: 50px;">
                        {loop $honor $id $list}
                        <div class="basic_style3 lineheight">
                            <p class="jiangtitle">
                                <span class="diandian bclolor1"></span>
                                {$list['certificate_content']}</p>
                            <img class="jiangpic" src="{$list['certificate_img']}">
                        </div>
                       {/loop}
                    </div>
        </div>
    </div>
            {/if}

            <!--30秒个人视频-->
            {if $resume['person_video']}
            <div class="basic_msg width670 resume_video" style="margin-top: 50px;margin-bottom: 180px">
                <div class="basic_msg_content">
                    <div class="resume_title" style="width: 100%;">
                        <span style="width: 150px;margin-left: 260px">30秒个人视频</span>
                    </div>
                    <div class="resume_exp">
                        <div class="person_works relative">
                            <video src="{php echo $resume['person_video']}" width="500" height="300" controls autobuffer style="margin-left: 85px"></video>

                        </div>
                    </div>
                </div>
            </div>
            {/if}
</div>


{php include wl_template('common/modal_dilog');}


</body>
<script src="{WL_URL_ARES}js/swiper.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>
<script src="{WL_URL_ARES}js/change_modal.js" rel="script"></script>
<script>
    $(document).ready(function () {
        $("#download_resume").click(function(){
            var uid = "{php echo $_GPC['uid']}";
            $.ajax({
                type:"post",
                url:"http://ios.huiliewang.com/app/pdf_enter.php",
                data:{
                    resumeuid:uid
                },
                success:function (data) {
                    window.location.href = "http://ios.huiliewang.com/app/"+data+".pdf";
                }
            })
        })

        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            slidesPerView: 4,
            roundLengths : true,
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        })
        $("#modal_box").hide().css("opacity",1);

        $("#change_modal").click(function () {
            $("#modal_box").show();
        })
        $(".modalclose,.quxiao").on("click",function(){
            $("#modal_box").hide();
        });


    })

</script>
</html>