<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/swiper-3.4.2.min.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/reguser1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume_template4.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume_print.css" rel="stylesheet">
    <title>简历预览</title>
    <style>
        .swiper-container {
            width: 910px;
            height: 400px;margin-top: 50px;
        }

        .swiper-wrapper{
            padding-left: 10px;
        }
    </style>
</head>
<body bgcolor="#f4f4f4">
{php include wl_template('common/resume_top');}
<div class="width1200 p1content preview">
    <div class="p1_left">

        <div class="con_list">

<!--基本信息-->
            <div class="basic_msg_con">
                    <div class="touxiang_con">
                        <img class="picture_tx" src="{php echo $resume['headimgurl']}"/>
                    </div>
                <div class="basic_miaoshu">

                    <div class="basic_jieshao">
                        <div class="namew">{php echo $resume['fullname']}</div>
                        <div class="bshang1">
                            <label class="basic_style1">{if $resume['sex']==1}男{else}女{/if}</label>
                            <label class="basic_style">{php echo ceil(date('Y-m-d')-$resume['birthday'])}岁</label>
                            <label class="basic_style">{php echo $resume['political_status']}</label>
                            <label class="basic_style">{php echo $resume['education']}</label>
                            <label class="basic_style" style="padding-left: 0">{if $resume['work_time']}{php echo $resume['work_time']}年工作经验{/if}</label>
                            <label class="basic_style">{php echo $resume['work_status']}</label>
                        </div>
                        <div class="basic_msg_h">
                            <div class="title_top_con">
                                <div class="title_top">基本信息</div>
                            </div>
                            <div>姓名：<span class="basic_name">{php echo $resume['fullname']}</span></div>
                            <div>性别：<span class="basic_name">{if $resume['sex']==1}男{else}女{/if}</span></div>
                            <div>民族：<span class="basic_name">{$resume['nation']}</span></div>
                            <div>政治面貌：<span class="basic_name">{$resume['political_status']}</span></div>
                            <div>籍贯：<span class="basic_name">{$resume['origin_place']}</span></div>
                            <div>出生年月：<span class="basic_name">{$resume['birthday']}</span></div>
                            <div>毕业学校：<span class="basic_name">{php echo $resume['arr_education']['school_name']}</span></div>
                            <div>学历：<span class="basic_name">{php echo $resume['education']}</span></div>
                            <div>专业：<span class="basic_name">{php echo $resume['arr_education']['edu_major']}</span></div>
                        </div>
                        <div class="basic_msg_h">
                            <div class="title_top_con">
                                <div class="title_top">联系方式</div>
                            </div>
                            <div class="basic_item dianhua">
                                <svg class="icon bsc_ico1" aria-hidden="true">
                                    <use xlink:href="#icon-lianxidianhuajianli"></use>
                                </svg>
                                <p class="detailw">{$resume['telphone']}</p>
                            </div>
                            <div class="basic_item email">
                                <svg class="icon bsc_ico1" aria-hidden="true">
                                    <use xlink:href="#icon-lianxiyouxiangjianli"></use>
                                </svg>
                                <p class="detailw">{$resume['email']}</p>
                            </div>
                            <div class="basic_item email">
                                <svg class="icon bsc_ico1" aria-hidden="true">
                                    <use xlink:href="#icon-lianxidizhijianli"></use>
                                </svg>
                                <p class="detailw">{php echo $resume['city']}{php echo $resume['city_area']}{php echo $resume['address']}</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
<!--基本信息end-->
            <div class="right_con">

            <!--自我介绍-->

                <div class="content540">
                    <div class="items_title">
                    <span class="itme_name">
                        <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-ziwojieshao"></use>
                        </svg>
                        自我介绍
                    </span>
                        <div class="line_title"></div>
                    </div>
                    <div class="bbshang1 lineheight">

                        {$resume['introduce']}

                    </div>
                </div>


                <!--求职意向-->

                <div class="content540 matop30">
                    <div class="items_title">
                    <span class="itme_name">
                        <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-qiuzhiyixiang"></use>
                        </svg>
                        求职意向
                    </span>
                        <div class="line_title"></div>
                    </div>
                    {if $resume['hope_job']}
                    <div class="lineheight">
                        <label class="basic_style2">期望职位：
                            {loop explode(",",$resume['hope_job']) $list}
                            <span class="jlcontent">{$list}</span>
                            {/loop}
                        </label>
                    </div>
                    {/if}
                    {if $resume['trade']}
                    <div class="lineheight">
                        <label class="basic_style2">期望行业：
                            {loop explode(",",$resume['trade']) $list}
                            <span class="jlcontent">{$list}</span>
                            {/loop}
                        </label>
                    </div>
                    {/if}

                    <div class="lineheight">
                        {if $resume['salary']}
                        <label class="basic_style2">期望薪资：
                            <span class="jlcontent">{$resume['salary']}</span>
                        </label>
                        {/if}
                        {if $resume['nature']}
                        <label class="basic_style2 margin_l">期望工作性质：
                            <span class="jlcontent">{$resume['nature']}</span>
                        </label>
                        {/if}
                        {if $resume['hope_place']}
                        <label class="basic_style2 margin_l">期望工作地点：
                            <span class="jlcontent">{$resume['hope_place']}</span>
                        </label>
                        {/if}
                    </div>

                </div>

                <!--工作经历-->

                <div class="content540 matop30">
                    <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-gongzuojingli"></use>
                        </svg>
                            工作经历
                        </span>
                        <div class="line_title"></div>
                    </div>
                    {loop unserialize($resume['work_experience']) $id $list}
                    <div class="work_exprience">
                        <div class="work_company">{php echo $list['company_name']}</div>
                        <div class="work_itmes">
                            <span class="zhiwu">{php echo $list['job_name']}</span>
                            <span class="shijian">{php echo $list['job_starttime']} — {php echo $list['job_endtime']}</span>
                            {if $list['leave_reason']}<span class="lizhi">离职原因：<lable>{php echo  $list['leave_reason']}</lable></span>{/if}
                        </div>
                        <div class="work_jieshao">
                            {php echo $list['job_content']}
                        </div>
                    </div>
                    {/loop}
                </div>



                <!--教育经历-->

                <div class="content540 matop30">
                    <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-jiaoyujingli"></use>
                        </svg>
                            教育经历
                        </span>
                        <div class="line_title"></div>
                    </div>
                    {loop $edu_experience $id $list}
                    <div class="edu_exprience">
                        <div class="work_company">{php echo $list['school_name']}</div>
                        <div class="work_itmes">
                            <span class="zhuanye">{php echo $list['edu_major']}</span>
                            <span class="xueli">{php echo $list['edu_district']}</span>
                            <span class="biyeshijian">{if $list['edu_finish_time']}{php echo $list['edu_finish_time']}届{/if}</span>
                        </div>
                        <div class="edu_jieshao">
                            {php echo $list['edu_content']}
                        </div>
                    </div>
                    {/loop}
                </div>

            </div>

            <!--个人作品-->
            <div class="width670 matop60">
                <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-gerenzuopin"></use>
                        </svg>
                            个人作品
                        </span>
                    <div class="line_title1"></div>
                </div>
                <div class="gerenhj">
                    {loop $personal_works $id $list}
                    <div class="hj_item">
                        <p class="hj_biaotiti">{php echo $list['person_workmsg']}</p>
                        <img src="{php echo $list['thumb']}" class="hj_fm"/>
                    </div>
                    {/loop}
                </div>
            </div>


            <!--荣誉证书-->
            <div class="width670 matop30">
            <div class="items_title itemmb">
            <span class="itme_name">
            <svg class="icon bsc_ico" aria-hidden="true">
            <use xlink:href="#icon-rongyu"></use>
            </svg>
            荣誉证书
            </span>
            <div class="line_title1"></div>
            </div>


                {loop $honor $id $list}
                <div class="basic_style3 lineheight">
                    <p class="jiangtitle">
                        <span class="diandian bclolor4"></span>
                        {$list['certificate_content']}</p>
                    <img class="jiangpic" src="{$list['certificate_img']}">
                </div>
                {/loop}

            </div>

            <!--30秒个人视频-->

            <div class="width670 matop60 resume_video">
                <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-shipin"></use>
                        </svg>
                            30秒个人视频
                        </span>
                    <div class="line_title1 line_t"></div>
                </div>
                <div class="resume_exp">
                    <div class="person_works relative">
                        <video src="http://www.zhangxinxu.com/study/media/cat.mp4" width="500" height="300" controls="" autobuffer="" style="margin-left: 85px"></video>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>
{php include wl_template('common/modal_dilog');}


</body>
<script src="{WL_URL_ARES}js/swiper.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>

<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>
<script src="{WL_URL_ARES}js/change_modal.js" rel="script"></script>
<script>
    $(document).ready(function () {
        $("#download_resume").click(function(){
            var uid = "{php echo $_GPC['uid']}";
            $.ajax({
                type:"post",
                url:"http://ios.huiliewang.com/app/pdf_enter.php",
                data:{
                    resumeuid:"{php echo $_GPC['uid']}"
                },
                success:function (data) {
                    window.location.href = "http://ios.huiliewang.com/app/"+data+".pdf";
                }
            })
        })
        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            slidesPerView: 4,
            roundLengths : true,
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        })
        $("#modal_box").hide().css("opacity",1);

        $("#change_modal").click(function () {
            $("#modal_box").show();
        })
        $(".modalclose,.quxiao").on("click",function(){
            $("#modal_box").hide();
        });

        $("#download_resume").click(function(){
            $.ajax({
                type:"post",
                url:"http://ios.huiliewang.com/app/index.php",
                data:{
                    uid:"{php echo $_GPC['uid']}"
                },
                success:function (data) {
                    hint("success","ok");
                }
            })
        })
    })

</script>
</html>