<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/swiper-3.4.2.min.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/reguser1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume_template4.css" rel="stylesheet">
    <title>简历预览</title>
    <style>
        .swiper-container {
            width: 910px;
            height: 400px;margin-top: 50px;
        }

        .swiper-wrapper{
            padding-left: 10px;
        }
    </style>
</head>
<body bgcolor="#f4f4f4">
{php include wl_template('common/resume_top');}
<div class="width1200 p1content preview">
    <div class="p1_left">

        <div class="con_list">

<!--基本信息-->
            <div class="basic_msg_con">
                    <div class="touxiang_con">
                        <img class="picture_tx" src="{WL_URL_ARES}images/resume_tx1.png"/>
                    </div>
                <div class="basic_miaoshu">

                    <div class="basic_jieshao">
                        <div class="namew">张三</div>
                        <div class="bshang1">
                            <label class="basic_style1">男</label>
                            <label class="basic_style">22岁</label>
                            <label class="basic_style">党员</label>
                            <label class="basic_style">本科</label>
                            <label class="basic_style" style="padding-left: 0">1年工作经验</label>
                            <label class="basic_style">正在找工作</label>
                        </div>
                        <div class="basic_msg_h">
                            <div class="title_top_con">
                                <div class="title_top">基本信息</div>
                            </div>
                            <div>姓名：<span class="basic_name">张三</span></div>
                            <div>性别：<span class="basic_name">男</span></div>
                            <div>民族：<span class="basic_name">汉族</span></div>
                            <div>政治面貌：<span class="basic_name">团员</span></div>
                            <div>籍贯：<span class="basic_name">重庆江北区</span></div>
                            <div>出生年月：<span class="basic_name">1993年4月</span></div>
                            <div>毕业学校：<span class="basic_name">中央美术学院</span></div>
                            <div>学历：<span class="basic_name">本科</span></div>
                            <div>专业：<span class="basic_name">环境艺术设计</span></div>
                        </div>
                        <div class="basic_msg_h">
                            <div class="title_top_con">
                                <div class="title_top">联系方式</div>
                            </div>
                            <div class="basic_item dianhua">
                                <svg class="icon bsc_ico1" aria-hidden="true">
                                    <use xlink:href="#icon-lianxidianhuajianli"></use>
                                </svg>
                                <p class="detailw">18787878787</p>
                            </div>
                            <div class="basic_item email">
                                <svg class="icon bsc_ico1" aria-hidden="true">
                                    <use xlink:href="#icon-lianxiyouxiangjianli"></use>
                                </svg>
                                <p class="detailw">18787878787</p>
                            </div>
                            <div class="basic_item email">
                                <svg class="icon bsc_ico1" aria-hidden="true">
                                    <use xlink:href="#icon-lianxidizhijianli"></use>
                                </svg>
                                <p class="detailw">上海市虹口区四川纳川区北路
                                    1027号</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
<!--基本信息end-->
            <div class="right_con">

            <!--自我介绍-->

                <div class="content540">
                    <div class="items_title">
                    <span class="itme_name">
                        <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-ziwojieshao"></use>
                        </svg>
                        自我介绍
                    </span>
                        <div class="line_title"></div>
                    </div>
                    <div class="bbshang1 lineheight">

                        我是一个对理想有着执着追求的人，坚信是金子总会发光。大学毕业后的工作，让我在文案策划方面有了很大的提高，文笔流畅。

                    </div>
                </div>


                <!--求职意向-->

                <div class="content540 matop30">
                    <div class="items_title">
                    <span class="itme_name">
                        <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-qiuzhiyixiang"></use>
                        </svg>
                        求职意向
                    </span>
                        <div class="line_title"></div>
                    </div>
                    <div class="lineheight">
                        <label class="basic_style2">期望职位：
                            <span class="jlcontent">Java工程师</span>
                            <span class="jlcontent">Java工程师</span>
                            <span class="jlcontent">Java工程师</span>
                        </label>
                    </div>
                    <div class="lineheight">
                        <label class="basic_style2">期望行业：
                            <span class="jlcontent">互联网</span>
                            <span class="jlcontent">移动软件</span>
                            <span class="jlcontent">IT运营</span>
                        </label>
                    </div>
                    <div class="lineheight">
                        <label class="basic_style2">期望薪资：
                            <span class="jlcontent">5K-6K</span>
                        </label>
                        <label class="basic_style2 margin_l">期望工作性质：
                            <span class="jlcontent">全职</span>
                        </label>
                        <label class="basic_style2 margin_l">期望工作地点：
                            <span class="jlcontent">北京</span>
                        </label>
                    </div>

                </div>

                <!--工作经历-->

                <div class="content540 matop30">
                    <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-gongzuojingli"></use>
                        </svg>
                            工作经历
                        </span>
                        <div class="line_title"></div>
                    </div>
                    <div class="work_exprience">
                        <div class="work_company">重庆大唐科技股份有限公司</div>
                        <div class="work_itmes">
                            <span class="zhiwu">助理工程师</span>
                            <span class="shijian">2015.9-2017.11</span>
                            <span class="lizhi">离职原因：<lable>实习结束</lable></span>
                        </div>
                        <div class="work_jieshao">公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃</div>
                    </div>
                    <div class="work_exprience">
                        <div class="work_company">重庆大唐科技股份有限公司</div>
                        <div class="work_itmes">
                            <span class="zhiwu">助理工程师</span>
                            <span class="shijian">2015.9-2017.11</span>
                            <span class="lizhi">离职原因：<lable>实习结束</lable></span>
                        </div>
                        <div class="work_jieshao">公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃</div>
                    </div>
                </div>



                <!--教育经历-->

                <div class="content540 matop30">
                    <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-jiaoyujingli"></use>
                        </svg>
                            教育经历
                        </span>
                        <div class="line_title"></div>
                    </div>
                    <div class="edu_exprience">
                        <div class="work_company">重庆大学</div>
                        <div class="work_itmes">
                            <span class="zhuanye">计算机</span>
                            <span class="xueli">本科</span>
                            <span class="biyeshijian">2017届</span>
                        </div>
                        <div class="edu_jieshao">公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃儿给我色干不完噶我是个挖施工为啥改为按干部物色个丝袜给我公司UI及VI方面工作娃</div>
                    </div>

                </div>


                <!--荣誉证书-->
                <div class="content540 matop30">
                    <div class="items_title">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-rongyu"></use>
                        </svg>
                            荣誉证书
                        </span>
                        <div class="line_title"></div>
                    </div>

                    <p class="basic_linheit">2013年3月获得全国中小学生数学竞赛一等奖</p>
                    <p class="basic_linheit">2013年3月获得全国中小学生数学竞赛一等奖</p>
                    <p class="basic_linheit">2013年3月获得全国中小学生数学竞赛一等奖</p>
                </div>

            </div>

            <!--个人作品-->
            <div class="width670 matop60">
                <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-gerenzuopin"></use>
                        </svg>
                            个人作品
                        </span>
                    <div class="line_title1"></div>
                </div>
                <div class="gerenhj">
                    <div class="hj_item">
                        <img src="{WL_URL_ARES}images/person_img.png" class="hj_fm">
                        <p class="hj_biaoti">商务合作官网首页商务合作官网首页</p>
                    </div>
                    <div class="hj_item">
                        <img src="{WL_URL_ARES}images/person_img.png" class="hj_fm">
                        <p class="hj_biaoti">画册设计展示</p>
                    </div>
                </div>
            </div>


            <!--30秒个人视频-->

            <div class="width670 matop60">
                <div class="items_title itemmb">
                        <span class="itme_name">
                            <svg class="icon bsc_ico" aria-hidden="true">
                            <use xlink:href="#icon-shipin"></use>
                        </svg>
                            30秒个人视频
                        </span>
                    <div class="line_title1 line_t"></div>
                </div>
                <div class="resume_exp">
                    <div class="person_works relative">
                        <video src="http://www.zhangxinxu.com/study/media/cat.mp4" width="500" height="300" controls="" autobuffer="" style="margin-left: 85px"></video>
                    </div>
                </div>
            </div>




        </div>
    </div>

</div>
{php include wl_template('common/modal_dilog');}


</body>
<script src="{WL_URL_ARES}js/swiper.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>

<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>
<script src="{WL_URL_ARES}js/change_modal.js" rel="script"></script>
<script>
    $(document).ready(function () {

        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            slidesPerView: 4,
            roundLengths : true,
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        })
        $("#modal_box").hide().css("opacity",1);

        $("#change_modal").click(function () {
            $("#modal_box").show();
        })
        $(".modalclose,.quxiao").on("click",function(){
            $("#modal_box").hide();
        });
    })

</script>
</html>