<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{WL_URL_ARES}css/header.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/swiper-3.4.2.min.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/control.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/reguser1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/personal1.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume_template.css" rel="stylesheet">
    <link href="{WL_URL_ARES}css/resume_print.css" rel="stylesheet">
    <title>简历预览</title>
    <style>
        .swiper-container {
            width: 910px;
            height: 400px;margin-top: 50px;
        }

        .swiper-wrapper{
            padding-left: 10px;
        }
    </style>
</head>
<body bgcolor="#f4f4f4">
{php include wl_template('common/resume_top');}
<div class="width1200 p1content preview">
    <div class="p1_left">

        <div class="con_list">

<!--基本信息-->
            <div class="basic_msg_con">
                <div class="touxiang">
                    <div class="touxiang_con">
                        <img class="picture_tx" src="{php echo $resume['headimgurl']}"/>
                    </div>
                </div>
                <div class="basic_miaoshu">
                    <div class="top_title">
                        <span class="tel_number">
                           <svg class="icon bsc_ico" aria-hidden="true">
                                <use xlink:href="#icon-shouji"></use>
                            </svg>
                            <label>{php echo $resume['telphone']}</label>
                        </span>
                        <span class="email_number">
                           <svg class="icon bsc_ico" aria-hidden="true">
                                <use xlink:href="#icon-youxiang"></use>
                            </svg>
                            <label>{php echo $resume['email']}</label>
                        </span>
                        <span class="address_con nowrap">
                           <svg class="icon bsc_ico" aria-hidden="true">
                                <use xlink:href="#icon-didian"></use>
                            </svg>
                            <label>{php echo $resume['city']}{php echo $resume['city_area']}{php echo $resume['address']}</label>
                        </span>
                    </div>
                    <div class="basic_jieshao">
                        <div class="bshang1">
                            <label class="user_name namew nowrap">{php echo $resume['fullname']}</label>
                            <label class="basic_style">{if $resume['sex']==1}男{else}女{/if}</label>
                            <label class="basic_style">{php echo ceil(date('Y-m-d')-$resume['birthday'])}岁</label>
                            <label class="basic_style">{php echo $resume['political_status']}</label>
                            <label class="basic_style">{php echo $resume['education']}</label>
                            <label class="basic_style">{if $resume['work_time']}{php echo $resume['work_time']}年工作经验{/if}</label>
                            <label class="basic_style1">{php echo $resume['work_status']}</label>
                        </div>
                        <div class="bshang1">
                            <label class="basic_style2">毕业学校：<span class="college_name">{php echo $resume['arr_education']['school_name']}</span></label>
                            <label class="basic_style2">所学专业：<span class="major_name">{php echo $resume['arr_education']['edu_major']}</span></label>
                            <label class="basic_style2">籍贯：<span class="jiguan_name">{php echo $resume['origin_place']}</span></label>
                        </div>
                    </div>
                </div>
            </div>
<!--基本信息end-->

<!--求职意向-->
            <div class="content770">
                <div class="items_title">
                    <span class="itme_name">求职意向</span>
                    <div class="line_title"></div>
                </div>
                <div class="bshang1 lineheight">
                    <label class="basic_style2">期望职位：
                        {loop explode(",",$resume['hope_job']) $list}
                        <span class="jlcontent">{$list}</span>
                       {/loop}
                    </label>
                </div>
                <div class="bshang1 lineheight">
                    <label class="basic_style2">期望行业：
                        {loop explode(",",$resume['trade']) $list}
                        <span class="jlcontent">{$list}</span>
                        {/loop}
                    </label>
                </div>
                <div class="bshang1 lineheight">
                    <label class="basic_style2">期望薪资：
                        <span class="jlcontent">{$resume['salary']}</span>
                    </label>
                </div>
                <div class="bshang1 lineheight">
                    <label class="basic_style2">期望工作性质：
                        <span class="jlcontent">{$resume['nature']}</span>
                    </label>
                </div>
                <div class="bshang1 lineheight">
                    <label class="basic_style2">期望工作地点：
                        <span class="jlcontent">{$resume['hope_place']}</span>
                    </label>
                </div>
            </div>

<!--自我介绍-->

            <div class="content770">
                <div class="items_title">
                    <span class="itme_name">自我介绍</span>
                    <div class="line_title"></div>
                </div>
                <div class="bshang1 lineheight">

                        {$resume['introduce']}

                </div>
            </div>
<!--工作经历-->
            <div class="content770">
                <div class="items_title itemmb">
                    <span class="itme_name">工作经历</span>
                    <div class="line_title"></div>
                </div>
                {loop unserialize($resume['work_experience']) $id $list}
                <div class="work_exprience">
                    <div class="work_company">{php echo $list['company_name']}</div>
                    <div class="work_itmes">
                        <span class="zhiwu">{php echo $list['job_name']}</span>
                        <span class="shijian">{php echo $list['job_starttime']} — {php echo $list['job_endtime']}</span>
                    </div>
                    <div class="work_jieshao">{php echo $list['job_content']}</div>
                    <div class="lizhi_reason">
                        离职原因：
                        <span class="lizhi">{php echo  $list['leave_reason']}</span>
                    </div>
                </div>
                {/loop}
            </div>


<!--教育经历-->
            <div class="content770">
                <div class="items_title itemmb">
                    <span class="itme_name">教育经历</span>
                    <div class="line_title"></div>
                </div>
                {loop $edu_experience $id $list}
                <div class="edu_exprience">
                    <div class="work_company">{php echo $list['school_name']}</div>
                    <div class="work_itmes">
                        <span class="zhuanye">{php echo $list['edu_major']}</span>
                        <span class="xueli">{php echo $list['edu_district']}</span>
                        <span class="biyeshijian">{if $list['edu_finish_time']}{php echo $list['edu_finish_time']}届{/if}</span>
                    </div>
                    <div class="edu_jieshao">
                        {php echo $list['edu_content']}
                    </div>
                </div>
                {/loop}
            </div>


<!--个人作品-->

            <div class="content770">
                <div class="items_title">
                    <span class="itme_name">个人作品</span>
                    <div class="line_title"></div>
                </div>
                <div class="gerenhj">
                    {loop $personal_works $id $list}
                    <div class="hj_item">
                        <p class="hj_biaotiti">{$list['person_workmsg']}</p>
                        {loop explode(",",$list['person_works']) $li}
                        <img src="{$li}" class="hj_fm"/>
                        {/loop}
                    </div>
                    {/loop}
                </div>
            </div>




            <!--荣誉证书-->
            <div class="content770">
                <div class="items_title">
                    <span class="itme_name">荣誉证书</span>
                    <div class="line_title"></div>
                </div>
                <div class="bshang1">
                    {loop $honor $id $list}
                    <div class="basic_style3 lineheight">
                        <p class="jiangtitle">
                            <span class="diandian bclolor2"></span>
                            {$list['certificate_content']}</p>
                        <img class="jiangpic" src="{$list['certificate_img']}">
                    </div>
                    {/loop}
                </div>
            </div>

            <!--30秒个人视频-->

            <div class="content770 resume_video">
                <div class="items_title">
                    <span class="itme_name" style="width: 160px;">30秒个人视频</span>
                    <div class="line_title" style="width: 580px;"></div>
                </div>
                <div class="resume_exp">
                    <div class="person_works relative">
                        <video src="{$resume['person_video']}" width="500" height="300" controls autobuffer style="margin-left: 85px"></video>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
{php include wl_template('common/modal_dilog');}


</body>
<script src="{WL_URL_ARES}js/swiper.js" rel="script"></script>
<script src="{WL_URL_ARES}js/jquery.js" rel="script"></script>
<script src="{WL_URL_ARES}js/iconfont.js" rel="script"></script>
<script src="{WL_URL_ARES}js/formdata.js" rel="script"></script>
<script src="{WL_URL_ARES}js/change_modal.js" rel="script"></script>
<script>
    $(document).ready(function () {

        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal',
            slidesPerView: 4,
            roundLengths : true,
            // 如果需要前进后退按钮
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
        })
        $("#modal_box").hide().css("opacity",1);

        $("#change_modal").click(function () {
            $("#modal_box").show();
        })
        $(".modalclose,.quxiao").on("click",function(){
            $("#modal_box").hide();
        });
    })

</script>
</html>