{php include template('common/header');}

<div class="container-fluid" style="margin-top: 36px;margin-bottom: 88px;min-height: 700px;max-width: 1600px;">
	<ul class="nav nav-tabs">
		<li {if $action=='index'}class="active"{/if}><a href="{php echo web_url('company/index')}">公司列表</a></li>
		<li {if $action=='detail'}class="active"{/if}><a href="{php echo web_url('company/detail')}">添加公司</a></li>
	</ul>
<div class="panel panel-default">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead class="navbar-inner">
				<tr>
					<th style="width:60px;">id</th>
					<th style="width:120px;">公司名称</th>
					<th style="width:120px;">营业执照</th>
					<th style="width:120px;">身份证正面</th>
					<th style="width:120px;">身份证反面</th>
					<th style="width:150px;">行业</th>
					<th style="width:100px;">企业性质</th>
					<th style="width:210px;" class="text-center">操作</th>
				</tr>
			</thead>
			<tbody>
			{loop $list $li}
				<tr>
					<td> {php echo $li['id']}</td>
					<td><a href="{php echo app_url('member/index/company_center',array('uid'=>$li['uid']))}" target="_blank">{php echo $li['companyname']}</a></td>
					<td><img src="{php echo $li['license']}" alt="" width="107" height="107"></td>
					<td><img src="{php echo $li['idcard1']}" alt="" width="107" height="107"></td>
					<td><img src="{php echo $li['idcard2']}" alt="" width="107" height="107"></td>
					<td>{php echo $li['industry']}</td>
					<td>{php echo $li['nature']}</td>

					<td class="text-center" style="overflow:visible;">
						<!--<a href="" class="btn btn-warning btn-sm">审核</a>-->
						<a href="{php echo app_url('company/member/editmember',array('id'=>$li['id']))}" class="btn btn-success btn-sm sms">审核</a>
						<a href="{php echo app_url('company/index/job_manage',array('uid'=>$li['uid']))}" class="btn  btn-info btn-sm">查看详情</a>
					</td>
				</tr>
			{/loop}
			</tbody>
		</table>
	</div>
</div>
{$pager}
</div>

{php include template('common/footer');}
